
/**
 * TOCC Style Guide Element
 * 
 * @filename _strapline--special-offer.scss
 * @brand    Vanilla
 * @name     strapline--special-offer
 * @author   Mr George Crisan
 * @date     2019-05-20
 */
.strapline--specialoffer {
  border: 1px solid black;
  padding: 5px 5px 5px 15px;
  width: 100%;
  font-size: 14px;
}

.strapline--specialoffer span {
  color: red;
  padding-right: 10px;
  font-size: 14px;
  font-weight: bold;
}
