

  <h2>Image tile layout</h2>
  <div class="oc-tiles">
    <div>
      <a class="oc-imagetile">
        <img src="https://placeimg.com/400/400/animals" />
        <figcaption class="oc-imagetile__caption">
          Basque Country <em>bliss</em> <small>in the Lake District</small>
        </figcaption>
      </a>
    </div>
    <div>
      <a class="oc-imagetile">
        <img src="https://placeimg.com/400/400/arch" />
        <figcaption class="oc-imagetile__caption">
          Alfresco <em>dining</em> <small>in Dorset</small>
        </figcaption>
      </a>
    </div>
    <div>
      <a class="oc-imagetile">
        <img src="https://placeimg.com/400/400/nature" />
        <figcaption class="oc-imagetile__caption">
          Tuscan <em>tranquility</em> <small>in Suffolk</small>
        </figcaption>
      </a>
    </div>
    <div>
      <a class="oc-imagetile">
        <img src="https://placeimg.com/400/400/tech" />
        <figcaption class="oc-imagetile__caption">
          Ibizan <em>sunsets</em> <small>in Cornwall</small>
        </figcaption>
      </a>
    </div>
    <div>
      <a class="oc-imagetile">
        <img src="https://placeimg.com/400/400/animals" />
        <figcaption class="oc-imagetile__caption">
          Californian <em>breaks</em> <small>in Devon</small>
        </figcaption>
      </a>
    </div>
    <div>
      <a class="oc-imagetile">
        <img src="https://placeimg.com/400/400/people" />
        <figcaption class="oc-imagetile__caption">
          Bordeux vine <em>views</em> <small>in Kent</small>
        </figcaption>
      </a>
    </div>
  </div>