<article class="oc-media">
  <div class="oc-figure">
    <div class="oc-figure__caption">
      <a href="#">News</a>
    </div>
    <a href="/">
      <img src="https://placeimg.com/260/180/animals" alt="Blog Placeholder" title="Blog Placeholder">
    </a>
  </div>
  <div class="oc-content">
    <h3 class="oc-title">
      <a href="/" rel="bookmark">Introducing our New Team Member</span></a>
    </h3>
    <p>As our property portfolio continues to grow, we are excited to welcome our&nbsp;new team member.</p>
    <a class="oc-button" href="/" rel="bookmark">Read more</a>
  </div>
</article>