<div class="oc-callout oc-skeleton">
    <div class="oc-content">
        <h2>
            <span class="oc-skeleton__blur" style="width: 7em;"></span>
            <span class="oc-skeleton__blur" style="width: 5em;"></span>
        </h2>
        <p>
            <span class="oc-skeleton__blur oc-skeleton__blur--fullwidth"></span>
            <span class="oc-skeleton__blur oc-skeleton__blur--fullwidth"></span>
            <span class="oc-skeleton__blur oc-skeleton__blur--fullwidth"></span>
            <span class="oc-skeleton__blur oc-skeleton__blur--halfwidth"></span>
        </p>
    </div>
</div>
