
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@font-face {
  font-family: 'Museo Sans 300';
  src: url("/fonts/museosans/exljbris_-_museosans-300_3-webfont.woff2") format("woff2"), url("/fonts/museosans/exljbris_-_museosans-300_3-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/**
 * TOCC Style Guide Element
 * 
 * @filename _strapline--special-offer.scss
 * @brand    Vanilla
 * @name     strapline--special-offer
 * @author   Mr George Crisan
 * @date     2019-05-20
 */
.strapline--specialoffer {
  border: 1px solid black;
  padding: 5px 5px 5px 15px;
  width: 100%;
  font-size: 14px;
}

.strapline--specialoffer span {
  color: red;
  padding-right: 10px;
  font-size: 14px;
  font-weight: bold;
}
