
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("//hello.myfonts.net/count/37bc59");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@font-face {
  font-family: 'AvenirLTPro-Heavy';
  src: url("/fonts/avenirltpro/37BC59_0_0.eot");
  src: url("/fonts/avenirltpro/37BC59_0_0.eot?#iefix") format("embedded-opentype"), url("/fonts/avenirltpro/37BC59_0_0.woff2") format("woff2"), url("/fonts/avenirltpro/37BC59_0_0.woff") format("woff"), url("/fonts/avenirltpro/37BC59_0_0.ttf") format("truetype");
}

/**
 * TOCC Style Guide Element
 * 
 * @filename _slogan.scss
 * @brand    Vanilla
 * @name     slogan
 * @author   Alex Wyett
 * @date     2019-04-24
 */
.tocc__slogan {
  font-size: 18px;
  line-height: 28px;
  margin: 0;
  padding: 0.5rem 0;
  border: 0 none;
  color: #555555;
  font-family: 'Open Sans', sans-serif;
}
