<div class="oc-bgwrap oc-content oc-bgwrap--lightgrey c--white">
	<h4>Background wrapper component</h4>
	<p>Basic block showing some lovely text.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi at molestie dolor. Curabitur blandit tempus accumsan. Aliquam dictum risus quis est mollis dapibus. Integer malesuada libero in enim finibus vehicula. Suspendisse eu libero consectetur, congue ex eu, tempus magna. Proin ut mauris gravida, convallis dolor vel, pharetra dolor. Maecenas maximus sapien ut rhoncus ornare. Suspendisse ac luctus leo. Donec vulputate tincidunt metus quis placerat. In metus neque, condimentum a feugiat ac, maximus eget tortor. Quisque placerat dignissim erat, ullamcorper laoreet urna scelerisque at. In facilisis mauris ut metus convallis lobortis. Mauris enim nulla, sagittis sit amet varius vitae, dapibus id ante. Vestibulum venenatis ipsum quis orci mattis suscipit. Morbi varius tellus id nisi sodales, ac maximus diam maximus.</p>
</div>

<hr/>

<div class="oc-bgwrap oc-content oc-bgwrap--lightgrey c--white" style="background-image: url(https://placeimg.com/1440/960/any); background-size: cover; background-position: center;">
	<h4>Background wrapper component with background image</h4>
	<p>The coloured background can be replaced by using inline styling to add a background image.</p>
	<p>Mauris ut leo dolor. Praesent cursus ullamcorper turpis, in auctor tellus rhoncus sit amet. Maecenas volutpat, massa in consectetur vulputate, dui lacus pellentesque diam, in porttitor velit sem sit amet odio. Mauris ut mauris massa. Sed quis sodales justo. Mauris est risus, ullamcorper ac dui non, porta molestie dui. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus ultricies ante dui, in ullamcorper metus facilisis vitae. Suspendisse hendrerit felis sed ligula dapibus consequat. Nunc porta libero nisi, eget aliquam turpis commodo eu. Duis vel posuere dui. Integer euismod imperdiet est et laoreet. Sed porta leo urna, vitae commodo purus blandit vitae. Nulla imperdiet commodo dolor, in malesuada mauris blandit non.</p>
</div>
