<div class="oc-content">
  <h2>Simple 50% grid</h2>
  <div class="oc-grid">
    <div class="oc-col bd--one">50%</div>
    <div class="oc-col bd--one">50%</div>
  </div>

  <h2>Simple 50% grid for large up</h2>
  <div class="oc-grid">
    <div class="oc-col__lg bd--one">50%</div>
    <div class="oc-col__lg bd--one">50%</div>
  </div>

  <h2>Simple 50% grid for large only</h2>
  <div class="oc-grid">
    <div class="oc-col__sm--full oc-col__lgo--half bd--one">50%</div>
    <div class="oc-col__sm--full oc-col__lgo--half bd--one">50%</div>
  </div>

  <h2>4 x 4 grid for large, 2 x 2 for medium, 1 x 1 for small</h2>
  <div class="oc-grid">
    <div class="oc-col__sm--full oc-col__lg--three oc-col__md--six bd--one">1</div>
    <div class="oc-col__sm--full oc-col__lg--three oc-col__md--six bd--one">2</div>
    <div class="oc-col__sm--full oc-col__lg--three oc-col__md--six bd--one">3</div>
    <div class="oc-col__sm--full oc-col__lg--three oc-col__md--six bd--one">4</div>
    <div class="oc-col__sm--full oc-col__lg--three oc-col__md--six bd--one">5</div>
    <div class="oc-col__sm--full oc-col__lg--three oc-col__md--six bd--one">6</div>
    <div class="oc-col__sm--full oc-col__lg--three oc-col__md--six bd--one">7</div>
    <div class="oc-col__sm--full oc-col__lg--three oc-col__md--six bd--one">8</div>
    <div class="oc-col__sm--full oc-col__lg--three oc-col__md--six bd--one">9</div>
    <div class="oc-col__sm--full oc-col__lg--three oc-col__md--six bd--one">10</div>
    <div class="oc-col__sm--full oc-col__lg--three oc-col__md--six bd--one">11</div>
    <div class="oc-col__sm--full oc-col__lg--three oc-col__md--six bd--one">12</div>
    <div class="oc-col__sm--full oc-col__lg--three oc-col__md--six bd--one">13</div>
    <div class="oc-col__sm--full oc-col__lg--three oc-col__md--six bd--one">14</div>
    <div class="oc-col__sm--full oc-col__lg--three oc-col__md--six bd--one">15</div>
    <div class="oc-col__sm--full oc-col__lg--three oc-col__md--six bd--one">16</div>
  </div>

  <h2>4 x 4 grid for large, 2 x 2 for medium, 1 x 1 for small without a gutter</h2>
  <div class="oc-grid--nogutter">
    <div class="oc-col__sm--full oc-col__lg--three oc-col__md--six bd--one">1</div>
    <div class="oc-col__sm--full oc-col__lg--three oc-col__md--six bd--one">2</div>
    <div class="oc-col__sm--full oc-col__lg--three oc-col__md--six bd--one">3</div>
    <div class="oc-col__sm--full oc-col__lg--three oc-col__md--six bd--one">4</div>
    <div class="oc-col__sm--full oc-col__lg--three oc-col__md--six bd--one">5</div>
    <div class="oc-col__sm--full oc-col__lg--three oc-col__md--six bd--one">6</div>
    <div class="oc-col__sm--full oc-col__lg--three oc-col__md--six bd--one">7</div>
    <div class="oc-col__sm--full oc-col__lg--three oc-col__md--six bd--one">8</div>
    <div class="oc-col__sm--full oc-col__lg--three oc-col__md--six bd--one">9</div>
    <div class="oc-col__sm--full oc-col__lg--three oc-col__md--six bd--one">10</div>
    <div class="oc-col__sm--full oc-col__lg--three oc-col__md--six bd--one">11</div>
    <div class="oc-col__sm--full oc-col__lg--three oc-col__md--six bd--one">12</div>
    <div class="oc-col__sm--full oc-col__lg--three oc-col__md--six bd--one">13</div>
    <div class="oc-col__sm--full oc-col__lg--three oc-col__md--six bd--one">14</div>
    <div class="oc-col__sm--full oc-col__lg--three oc-col__md--six bd--one">15</div>
    <div class="oc-col__sm--full oc-col__lg--three oc-col__md--six bd--one">16</div>
  </div>

  <h2>4 x 4 grid for large, 2 x 2 for medium, 1 x 1 for small with shortcut class</h2>
  <div class="oc-grid-4x4">
    <div class="bd--one">1</div>
    <div class="bd--one">2</div>
    <div class="bd--one">3</div>
    <div class="bd--one">4</div>
    <div class="bd--one">5</div>
    <div class="bd--one">6</div>
    <div class="bd--one">7</div>
    <div class="bd--one">8</div>
    <div class="bd--one">9</div>
    <div class="bd--one">10</div>
    <div class="bd--one">11</div>
    <div class="bd--one">12</div>
    <div class="bd--one">13</div>
    <div class="bd--one">14</div>
    <div class="bd--one">15</div>
    <div class="bd--one">16</div>
  </div>

  <hr />

  <h2>2 x 2 grid for medium only without gutter</h2>
  <div class="oc-grid--nogutter">
    <div class="oc-col__sm--full oc-col__mdo--half bd--one">1</div>
    <div class="oc-col__sm--full oc-col__mdo--half bd--one">2</div>
  </div>

  <hr />

  <h2>Special image tiles layout</h2>
  <div class="oc-imagetiles">
    <a class="oc-imagetile" style="color: #FFB199; background-color: #001556;">
      <img src="https://placeimg.com/400/400/animals" width="400" height="400" />
      <figcaption class="oc-imagetile__caption">
        <p>
          Active<br />holidays
        </p>
      </figcaption>
    </a>
    <a class="oc-imagetile" style="color: #024156; background-color: #E9D6AE;">
      <img src="https://placeimg.com/400/400/arch" width="400" height="400" />
      <figcaption class="oc-imagetile__caption">
        <p>
          National Parks of<br />England and Wales
        </p>
      </figcaption>
    </a>
    <a class="oc-imagetile" style="color: #2A3036; background-color: #FFEE79;">
      <img src="https://placeimg.com/400/400/nature" width="400" height="400" />
      <figcaption class="oc-imagetile__caption">
        <p>
          Pet friendly<br />cottages
        </p>
      </figcaption>
    </a>
    <a class="oc-imagetile" style="color: #034155; background-color: #D2E1E6;">
      <img src="https://placeimg.com/400/400/tech" width="400" height="400" />
      <figcaption class="oc-imagetile__caption">
        <p>
          Country cottage<br />getaways
        </p>
      </figcaption>
    </a>
    <a class="oc-imagetile" style="color: #001555; background-color: #FFB199;">
      <img src="https://placeimg.com/400/400/animals" width="400" height="400" />
      <figcaption class="oc-imagetile__caption">
        <p>
          Coastal cottage<br />getaways
        </p>
      </figcaption>
    </a>
    <a class="oc-imagetile" style="color: #F9D9C6; background-color: #024156;">
      <img src="https://placeimg.com/400/400/people" width="400" height="400" />
      <figcaption class="oc-imagetile__caption">
        <p>
          Glamping<br />retreats
        </p>
      </figcaption>
    </a>
</div>

<hr />

<h2>Special layout for text information tiles</h2>
<div class="oc-texttiles">
      <div class="oc-texttile oc-texttile--title">
          <header>
              <p>
                  Why book with<br />Original Cottages?
              </p>
          </header>
      </div>
      <div class="oc-texttile">
          <header>
              <img src="https://placeimg.com/40/40/nature">
              <p>
                  Always local, wherever you stay
              </p>
          </header>
          <p>
              We're a national holiday cottages company, with a family
              of twenty local agencies across England and Wales.
              Every one of them an expert in their fields, as well as their
              region's winding footpaths and forgotten hills.
          </p>
      </div>
      <div class="oc-texttile">
          <header>
              <img src="https://placeimg.com/40/40/people">
              <p>
                  Family first, from the start
              </p>
          </header>
          <p>
              We've been a family-run company from the very
              beginning and we understand what it takes to make the
              most of time away with your loved ones. When you
              choose us, you'll find the most original places to stay,
              with all the comforts of home.
          </p>
      </div>
      <div class="oc-texttile--empty"></div>
      <div class="oc-texttile">
          <header>
              <img src="https://placeimg.com/40/40/animals">
              <p>
                  We know what makes a holiday memorable
              </p>
          </header>
          <p>
              Discovering unspoilt beaches, finding the perfect log-fire
              pub after a long country walk, heading to a tucked-away
              harbour for a fresh fish and chip supper: make the best of
              the great outdoors with our insider knowledge. With us,
              you can enjoy new experiences and exceptional stays.
              Explore our regional guides to find inspiration and your
              ideal location, or make the most of our local know-how
              and talk to one of our friendly team.
          </p>
      </div>
      <div class="oc-texttile">
          <header>
              <img src="https://placeimg.com/40/40/arch">
              <p>
                  Where do you want to go?
              </p>
          </header>
          <p>
              Whether you're longing for a romantic escape, looking
              for a memory-filled family adventure or an
              unforgettable getaway with a group of old friends, we
              have a property to suit, in a location you'll. With
              over 5,500 places to stay, including Norfolk, Cornwall,
              Yorkshire, Wales, Suffolk, Devon, Kent, Sussex,
              Lancashire, Dorset, Northumberland, Cumbria and the
              Lake District, the Peak District and Derbyshire, you'll
              find something as unique as you are.
          </p>
      </div>
  </div>
</div>


</div>