<div class="oc-tabletcolumn--small oc-tabletcolumn--retina">
    <figure class="oc-figure oc-figure--fluid">
        <figcaption class="oc-figure__caption oc-prefix" data-prefix="Caption prefix: ">Caption</figcaption>
        <img src="https://placeimg.com/320/240/any" alt="Lounge / Kitchen / Diner" />
    </figure>
    <div>
        <h5 class="oc-title">
            <strong>Total Price: &pound;505</strong>
            <small class="oc-subtitle">including &pound;15 non-refundable accidental damage deposit waiver</small>
        </h5>
    </div>
</div>