<div class="oc-threecolumns">
    <div class="oc-threecolumns__row">
        <div class="oc-threecolumns__column oc-texticon oc-texticon--title">
            <header>
                <p>
                    Why book with<br />Original Cottages?
                </p>
            </header>
        </div>
        <div class="oc-threecolumns__column oc-texticon">
            <header>
                <img src="https://placeimg.com/64/64/nature">
                <p>
                    Always local, wherever you stay
                </p>
            </header>
            <p>
                We're a national holiday cottages company, with a family
                of twenty local agencies across England and Wales.
                Every one of them an expert in their fields, as well as their
                region's winding footpaths and forgotten hills.
            </p>
        </div>
        <div class="oc-threecolumns__column oc-texticon">
            <header>
                <img src="https://placeimg.com/64/64/people">
                <p>
                    Family first, from the start
                </p>
            </header>
            <p>
                We've been a family-run company from the very
                beginning and we understand what it takes to make the
                most of time away with your loved ones. When you
                choose us, you'll find the most original places to stay,
                with all the comforts of home.
            </p>
        </div>
    </div>
    <div class="oc-threecolumns__row">
        <div class="oc-threecolumns__column oc-threecolumns__column--empty"></div>
        <div class="oc-threecolumns__column oc-texticon">
            <header>
                <img src="https://placeimg.com/64/64/animals">
                <p>
                    We know what makes a holiday memorable
                </p>
            </header>
            <p>
                Discovering unspoilt beaches, finding the perfect log-fire
                pub after a long country walk, heading to a tucked-away
                harbour for a fresh fish and chip supper: make the best of
                the great outdoors with our insider knowledge. With us,
                you can enjoy new experiences and exceptional stays.
                Explore our regional guides to find inspiration and your
                ideal location, or make the most of our local know-how
                and talk to one of our friendly team.
            </p>
        </div>
        <div class="oc-threecolumns__column oc-texticon">
            <header>
                <img src="https://placeimg.com/64/64/arch">
                <p>
                    Where do you want to go?
                </p>
            </header>
            <p>
                Whether you're longing for a romantic escape, looking
                for a memory-filled family adventure or an
                unforgettable getaway with a group of old friends, we
                have a property to suit, in a location you'll. With
                over 5,500 places to stay, including Norfolk, Cornwall,
                Yorkshire, Wales, Suffolk, Devon, Kent, Sussex,
                Lancashire, Dorset, Northumberland, Cumbria and the
                Lake District, the Peak District and Derbyshire, you'll
                find something as unique as you are.
            </p>
        </div>
    </div>
</div>
