/**
 * TOCC Style Guide Element
 * 
 * @filename _slogan.scss
 * @brand    Wyke Dorset Cottages
 * @name     slogan
 * @author   Alex Wyett
 * @date     2019-04-24
 */
// Include Utilities
@import '../../utils/index';

// Include global variables
@import '../../variables/vanilla';
@import '../../variables/28';

$slogan-font-size: 18px;
$slogan-line-height: 28px;
$slogan-font-color: $brand-color-primary;

@import '../vanilla/slogan';