/**
 * TOCC Style Guide Element
 * 
 * @filename _slogan.scss
 * @brand    Vanilla
 * @name     slogan
 * @author   Alex Wyett
 * @date     2019-04-24
 */
// Include Utilities
@import '../../utils/index';

$slogan-font-color: #999 !default;
$slogan-font-size: 18px !default;
$slogan-line-height: 28px !default;
$slogan-font-family: null !default;
$slogan-font-weight: null !default;

.slogan {
  font-size: $slogan-font-size;
  line-height: $slogan-line-height;
  margin: 0;
  padding: $site-padding / 2 0;
  border: 0 none;
  color: $slogan-font-color;
  
  @if $slogan-font-weight != null {
    font-weight: $slogan-font-weight;
  }

  font-family: sans-serif;
  
  @if $slogan-font-family != null {
    font-family: $slogan-font-family;
  }
}