/**
 * TOCC Style Guide Element
 * 
 * @filename _strapline--special-offer.scss
 * @brand    Vanilla
 * @name     strapline--special-offer
 * @author   Mr George Crisan
 * @date     2019-05-20
 */
// Include Utilities
@import '../../utils/index';

// Include global variables
@import '../../variables/vanilla';

$site-strapline-font-size: 14px !default;

.strapline {
  &--specialoffer {
    border: 1px solid black;
    padding: 5px 5px 5px 15px;
    width: 100%;
    font-size: $site-strapline-font-size;

    span {
      color: red;
      padding-right: 10px;
      font-size: 14px;
      font-weight: bold;
    }
  }
}