
@import url("https://fonts.googleapis.com/css?family=Oswald|Open+Sans|Open+Sans+Condensed:300|Montserrat:600|Roboto+Slab|Lato:400,700,400italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald|Open+Sans|Open+Sans+Condensed:300|Montserrat:600|Roboto+Slab|Lato:400,700,400italic&display=swap");
@font-face {
  font-family: 'Museo Sans 300';
  src: url("/fonts/museosans/exljbris_-_museosans-300_3-webfont.woff2") format("woff2"), url("/fonts/museosans/exljbris_-_museosans-300_3-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/**
 * TOCC Style Guide Element
 * 
 * @filename _slogan.scss
 * @brand    Vanilla
 * @name     slogan
 * @author   Alex Wyett
 * @date     2019-04-24
 */
.tocc__slogan {
  font-size: 18px;
  line-height: 28px;
  margin: 0;
  padding: 0.5rem 0;
  border: 0 none;
  color: #263545;
  font-family: 'Open Sans', sans-serif;
  font-family: "Museo Sans 300", Helvetica Neue, Helvetica, Arial, sans-serif;
}
