$site-padding: 1rem;
$site-font-size: (
  "h1": 38px,
  "h2": 30px,
  "h3": 24px,
  "h4": 20px,
  "h5": 18px,
  "p": 14px
);
$site-font-line-height: (
  "h1": 48px,
  "h2": 40px,
  "h3": 34px,
  "h4": 28px,
  "h5": 22px,
  "p": 1.8
);