/**
 * TOCC Style Guide Element
 *
 * @filename _list.scss
 * @brand    Big House Holidays
 * @name     list
 * @author   Tabs System User
 */
/**
 * TOCC Style Guide Element
 *
 * @filename _list.scss
 * @brand    Vanilla
 * @name     list
 * @author   Tabs System User
 */
.oc-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
  font-size: 14px;
  color: #5b5b5b;
  font-family: "Open Sans", sans-serif;
}

.oc-list > *, .oc-list--inline > * {
  margin-bottom: 8px;
}

.oc-list--inline > * {
  display: inline-block;
  margin-right: 8px;
  vertical-align: top;
}

.oc-list--inline.slider {
  overflow-y: hidden;
  overflow-x: auto;
  width: 100%;
  white-space: nowrap;
}

.oc-list--comma > * {
  display: inline;
  padding: 0;
}

.oc-list--comma > *:after {
  content: ', ';
}

.oc-list--comma > *:last-child:after {
  display: none;
}

@media screen and (max-width: 39.99875em) {
  .oc-list--inline.oc-prefix:before, .oc-list--comma.oc-prefix:before, .oc-list.oc-prefix:before {
    display: block;
  }
}

.oc-list--numbered > * {
  counter-increment: sequence;
}

.oc-list--numbered > *:before {
  content: counter(sequence);
  padding: 1px 7px;
  background: #555555;
  border-radius: 50%;
  color: white;
  font-weight: bold;
}

.oc-list--ticked > * {
  padding-left: 1.6rem;
}

.oc-list--ticked > *:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  font-family: 'Font Awesome 5 Pro';
  font-weight: 900;
  content: "\f058";
  color: #42A74A;
  position: absolute;
  left: 0;
  font-size: 20px;
  padding-top: 1px;
}

.oc-list--ticked > *.oc-list--one:before {
  color: #555555;
}

.oc-list--ticked > *.oc-list--two:before {
  color: #666666;
}

.oc-list--ticked > *.oc-list--three:before {
  color: #777777;
}

.oc-list--ticked > *.oc-list--four:before {
  color: #888888;
}

.oc-list--ticked > *.oc-list--five:before {
  color: #999999;
}

.oc-list--ticked > *.oc-list--six:before {
  color: #AAAAAA;
}

.oc-list--ticked > *.oc-list--seven:before {
  color: #BBBBBB;
}

.oc-list--ticked > *.oc-list--eight:before {
  color: #CCCCCC;
}

.oc-list--ticked > *.oc-list--grey:before {
  color: #EEEEEE;
}

.oc-list--ticked > *.oc-list--lightgrey:before {
  color: #F1F1F1;
}

.oc-list--ticked > *.oc-list--reallylightgrey:before {
  color: #F8F8F8;
}

.oc-list--ticked > *.oc-list--almostwhite:before {
  color: #FEFEFE;
}

.oc-list--ticked > *.oc-list--white:before {
  color: #FFFFFF;
}

.oc-list--ticked > *.oc-list--black:before {
  color: #000000;
}

.oc-list--ticked > *.oc-list--darkgrey:before {
  color: #5B5B5B;
}

.oc-list--ticked > *.oc-list--success:before {
  color: #008800;
}

.oc-list--ticked > *.oc-list--warning:before {
  color: #ff9900;
}

.oc-list--ticked > *.oc-list--alert:before {
  color: #990000;
}

.oc-list--ticked > *.oc-list--green:before {
  color: #42A74A;
}

.oc-list--ticked > *.oc-list--bc1:before {
  color: #555555;
}

.oc-list--ticked > *.oc-list--bc2:before {
  color: #666666;
}

.oc-list--ticked > *.oc-list--bc3:before {
  color: #777777;
}

.oc-list--ticked > *.oc-list--bc4:before {
  color: #888888;
}

.oc-list--ticked > *.oc-list--bc5:before {
  color: #999999;
}

.oc-list--ticked > *.oc-list--crossed:before {
  content: "\f057";
}

.oc-list--ticked.oc-list--inline > * {
  padding-left: 0;
}

.oc-list--ticked.oc-list--inline > *:before {
  position: static;
}
