
@import url("https://fonts.googleapis.com/css?family=Oswald|Open+Sans|Open+Sans+Condensed:300|Montserrat:600|Roboto+Slab|Lato:400,700,400italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald");
/**
 * TOCC Style Guide Element
 * 
 * @filename _strapline--special-offer.scss
 * @brand    Vanilla
 * @name     strapline--special-offer
 * @author   Mr George Crisan
 * @date     2019-05-20
 */
@import url("https://fonts.googleapis.com/css?family=Oswald|Open+Sans|Open+Sans+Condensed:300|Montserrat:600|Roboto+Slab|Lato:400,700,400italic&display=swap");
.strapline--specialoffer {
  border: 1px solid black;
  padding: 5px 5px 5px 15px;
  width: 100%;
  font-size: 14px;
}

.strapline--specialoffer span {
  color: red;
  padding-right: 10px;
  font-size: 14px;
  font-weight: bold;
}
