/**
 * TOCC Style Guide Element
 *
 * @filename _list.scss
 * @brand    Stay Northumbria
 * @name     list
 * @author   Tabs System User
 */
/**
 * TOCC Style Guide Element
 *
 * @filename _list.scss
 * @brand    Vanilla
 * @name     list
 * @author   Tabs System User
 */
.oc-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
  font-size: 14px;
  line-height: 20px;
  color: #5B6064;
  font-family: sharpsansbook, sans-serif;
}

.oc-list em {
  font-family: Georgia;
  font-style: italic;
}

.oc-list > *, .oc-list--inline > * {
  margin-bottom: 8px;
}

.oc-list--inline > * {
  display: inline-block;
  margin-right: 8px;
  vertical-align: top;
}

.oc-list--inline.slider {
  overflow-y: hidden;
  overflow-x: auto;
  width: 100%;
  white-space: nowrap;
}

.oc-list--comma > * {
  display: inline;
  padding: 0;
}

.oc-list--comma > *:after {
  content: ', ';
}

.oc-list--comma > *:last-child:after {
  display: none;
}

@media screen and (max-width: 39.99875em) {
  .oc-list--inline.oc-prefix:before, .oc-list--comma.oc-prefix:before, .oc-list.oc-prefix:before {
    display: block;
  }
}

.oc-list--numbered > * {
  counter-increment: sequence;
}

.oc-list--numbered > *:before {
  content: counter(sequence);
  padding: 1px 7px;
  background: #576B6B;
  border-radius: 50%;
  color: white;
  font-weight: bold;
}

.oc-list--ticked > * {
  padding-left: 1.6rem;
}

.oc-list--ticked > *:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  font-family: 'Font Awesome 5 Pro';
  font-weight: 900;
  content: "\f058";
  color: #42A74A;
  position: absolute;
  left: 0;
  font-size: 20px;
  padding-top: 1px;
}

.oc-list--ticked > *.oc-list--one:before {
  color: #576B6B;
}

.oc-list--ticked > *.oc-list--two:before {
  color: #ff5600;
}

.oc-list--ticked > *.oc-list--three:before {
  color: #C4D0CD;
}

.oc-list--ticked > *.oc-list--four:before {
  color: #EDF0F0;
}

.oc-list--ticked > *.oc-list--five:before {
  color: #337AB7;
}

.oc-list--ticked > *.oc-list--six:before {
  color: #D7E1D7;
}

.oc-list--ticked > *.oc-list--seven:before {
  color: #FFF0DB;
}

.oc-list--ticked > *.oc-list--eight:before {
  color: #CCCCCC;
}

.oc-list--ticked > *.oc-list--grey:before {
  color: #CCCCCC;
}

.oc-list--ticked > *.oc-list--lightgrey:before {
  color: #F1F1F1;
}

.oc-list--ticked > *.oc-list--reallylightgrey:before {
  color: #F8F8F8;
}

.oc-list--ticked > *.oc-list--almostwhite:before {
  color: #FEFEFE;
}

.oc-list--ticked > *.oc-list--white:before {
  color: #FFFFFF;
}

.oc-list--ticked > *.oc-list--black:before {
  color: #000000;
}

.oc-list--ticked > *.oc-list--darkgrey:before {
  color: #5B5B5B;
}

.oc-list--ticked > *.oc-list--success:before {
  color: #008800;
}

.oc-list--ticked > *.oc-list--warning:before {
  color: #ff9900;
}

.oc-list--ticked > *.oc-list--alert:before {
  color: #990000;
}

.oc-list--ticked > *.oc-list--green:before {
  color: #42A74A;
}

.oc-list--ticked > *.oc-list--transparent:before {
  color: transparent;
}

.oc-list--ticked > *.oc-list--bc1:before {
  color: #FF5B3F;
}

.oc-list--ticked > *.oc-list--bc2:before {
  color: #FF846F;
}

.oc-list--ticked > *.oc-list--bc3:before {
  color: #FFAD9F;
}

.oc-list--ticked > *.oc-list--bc4:before {
  color: #FFD6CF;
}

.oc-list--ticked > *.oc-list--bc5:before {
  color: #E55239;
}

.oc-list--ticked > *.oc-list--oc1:before {
  color: #FFA44B;
}

.oc-list--ticked > *.oc-list--oc2:before {
  color: #FFBB78;
}

.oc-list--ticked > *.oc-list--oc3:before {
  color: #FFD1A5;
}

.oc-list--ticked > *.oc-list--oc4:before {
  color: #FFE8D2;
}

.oc-list--ticked > *.oc-list--oc5:before {
  color: #E59343;
}

.oc-list--ticked > *.oc-list--ocg1:before {
  color: #5B6064;
}

.oc-list--ticked > *.oc-list--ocg2:before {
  color: #84888B;
}

.oc-list--ticked > *.oc-list--ocg3:before {
  color: #ADAFB1;
}

.oc-list--ticked > *.oc-list--ocg4:before {
  color: #D6D7D8;
}

.oc-list--ticked > *.oc-list--ocg5:before {
  color: #52565A;
}

.oc-list--ticked > *.oc-list--crossed:before {
  content: "\f057";
}

.oc-list--ticked.oc-list--inline > * {
  padding-left: 0;
}

.oc-list--ticked.oc-list--inline > *:before {
  position: static;
}
