@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@font-face {
  font-family: 'Arcon Regular';
  src: url("../../fonts/arconregular/arcon-regular-webfont.woff2") format("woff2"), url("../../fonts/arconregular/arcon-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arcon Regular Bold';
  src: url("../../fonts/arconregular/arcon-regular-webfont.woff2") format("woff2"), url("../../fonts/arconregular/arcon-regular-webfont.woff") format("woff");
  font-weight: bold;
  font-style: bold;
}
