
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("//hello.myfonts.net/count/37bc59");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@font-face {
  font-family: 'AvenirLTPro-Heavy';
  src: url("/fonts/avenirltpro/37BC59_0_0.eot");
  src: url("/fonts/avenirltpro/37BC59_0_0.eot?#iefix") format("embedded-opentype"), url("/fonts/avenirltpro/37BC59_0_0.woff2") format("woff2"), url("/fonts/avenirltpro/37BC59_0_0.woff") format("woff"), url("/fonts/avenirltpro/37BC59_0_0.ttf") format("truetype");
}

/**
 * TOCC Style Guide Element
 * 
 * @filename _strapline--special-offer.scss
 * @brand    Vanilla
 * @name     strapline--special-offer
 * @author   Mr George Crisan
 * @date     2019-05-20
 */
.strapline--specialoffer {
  border: 1px solid black;
  padding: 5px 5px 5px 15px;
  width: 100%;
  font-size: 14px;
}

.strapline--specialoffer span {
  color: red;
  padding-right: 10px;
  font-size: 14px;
  font-weight: bold;
}
