
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@font-face {
  font-family: 'jenna_sueregular';
  src: url("/fonts/jennasue/jennasue-webfont.woff2") format("woff2"), url("/fonts/jennasue/jennasue-webfont.woff") format("woff"), url("/fonts/jennasue/jennasue-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TeX Gyre Adventor';
  src: url("/fonts/texgyreadventor/texgyreadventor-regular-webfont.woff") format("woff"), url("/fonts/texgyreadventor/texgyreadventor-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TeX Gyre Adventor Bold';
  src: url("/fonts/texgyreadventor/texgyreadventor-bold-webfont.woff") format("woff"), url("/fonts/texgyreadventor/texgyreadventor-bold-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/**
 * TOCC Style Guide Element
 * 
 * @filename _slogan.scss
 * @brand    Vanilla
 * @name     slogan
 * @author   Alex Wyett
 * @date     2019-04-24
 */
.tocc__slogan {
  font-size: 36px;
  line-height: 28px;
  margin: 0;
  padding: 0.5rem 0;
  border: 0 none;
  color: #739600;
  font-family: 'Open Sans', sans-serif;
  font-family: "jenna_sueregular", "Segoe Script", "BradleyHandITCTT-Bold", sans-serif;
}
