/**
 * TOCC Style Guide Element
 *
 * @filename _notification.scss
 * @brand    Cornish Cottage Care
 * @name     notification
 * @author   Tabs System User
 */
/**
 * TOCC Style Guide Element
 *
 * @filename _notification.scss
 * @brand    Vanilla
 * @name     notification
 * @author   Tabs System User
 */
.oc-notification {
  position: relative;
  max-width: 1440px;
  background: #5B5B5B;
  width: 100%;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

.oc-notification:after, .oc-notification:before {
  position: absolute;
  width: calc((1440px - 100%) / 2);
  height: 100%;
  content: '';
  display: block;
  top: 0;
}

.oc-notification:before {
  left: calc((1440px - 100%) / 2 * -1);
}

.oc-notification:after {
  right: calc((1440px - 100%) / 2 * -1);
}

.oc-notification:after, .oc-notification:before {
  background: #5B5B5B;
}

@media screen and (min-width: 40em) {
  .oc-notification {
    padding-left: 0;
    padding-right: 0;
  }
}

.oc-notification button,
.oc-notification a {
  top: 0;
  color: white;
  display: block;
}

.oc-notification button {
  position: absolute;
  top: 0;
  font-size: 28px;
  line-height: 1;
  background: none;
  border: 0 none;
  cursor: pointer;
  right: 0.5rem;
}

@media screen and (min-width: 40em) {
  .oc-notification button {
    right: 1rem;
  }
}

.oc-notification,
.oc-notification p {
  font-size: 14px;
  line-height: 20px;
  color: #5B6064;
  font-family: "sharpsansbook";
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  line-height: 2rem;
  height: 2rem;
  margin: 0;
  padding: 0;
  border: 0 none;
  font-size: 12px;
}

.oc-notification em,
.oc-notification p em {
  font-family: Georgia;
  font-style: italic;
}

@media screen and (min-width: 40em) {
  .oc-notification,
  .oc-notification p {
    text-align: center;
    font-size: 14px;
  }
}
