/**
 * TOCC Style Guide Element
 *
 * @filename _button.scss
 * @brand    Home from Home
 * @name     button
 * @author   Tabs System User
 */
/**
 * TOCC Style Guide Element
 *
 * @filename _button.scss
 * @brand    Vanilla
 * @name     button
 * @author   Tabs System User
 */
.oc-button {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 1rem 0;
  padding: 0.85em 1em;
  border: 1px solid transparent;
  border-radius: 2px;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  text-transform: none;
  font-size: 0.9rem;
  -webkit-appearance: none;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: #F17021;
  color: white;
}

[data-whatinput='mouse'] .oc-button {
  outline: 0;
}

.oc-button:hover, .oc-button:focus {
  background-color: #db5c0e;
  color: white;
}

.oc-button--expanded {
  display: block;
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}

.oc-button--success {
  background-color: #008800;
  color: white;
}

.oc-button--success:hover, .oc-button--success:focus {
  background-color: #007400;
  color: white;
}

.oc-button--warning {
  background-color: #ff9900;
  color: white;
}

.oc-button--warning:hover, .oc-button--warning:focus {
  background-color: #d98200;
  color: white;
}

.oc-button--alert {
  background-color: #990000;
  color: white;
}

.oc-button--alert:hover, .oc-button--alert:focus {
  background-color: #820000;
  color: white;
}

.oc-button--disabled, .oc-button[disabled] {
  opacity: 0.25;
  cursor: not-allowed;
}

.oc-button--disabled, .oc-button--disabled:hover, .oc-button--disabled:focus, .oc-button[disabled], .oc-button[disabled]:hover, .oc-button[disabled]:focus {
  background-color: #F17021;
  color: white;
}

.oc-button--hollow {
  border: 1px solid #F17021;
  color: #F17021;
}

.oc-button--hollow, .oc-button--hollow:hover, .oc-button--hollow:focus {
  background-color: transparent;
}

.oc-button--hollow.disabled, .oc-button--hollow.disabled:hover, .oc-button--hollow.disabled:focus, .oc-button--hollow[disabled], .oc-button--hollow[disabled]:hover, .oc-button--hollow[disabled]:focus {
  background-color: transparent;
}

.oc-button--hollow:hover, .oc-button--hollow:focus {
  border-color: #813608;
  color: #813608;
}

.oc-button--hollow:hover.disabled, .oc-button--hollow:hover[disabled], .oc-button--hollow:focus.disabled, .oc-button--hollow:focus[disabled] {
  border: 1px solid #F17021;
  color: #F17021;
}

.oc-button.--tiny {
  font-size: 0.6rem;
}

.oc-button.--small {
  font-size: 0.75rem;
}

.oc-button.--default {
  font-size: 0.9rem;
}

.oc-button.--large {
  font-size: 1.25rem;
}

.oc-button--icon {
  position: relative;
}

.oc-button--icon > i {
  position: absolute;
  left: 0;
  top: 0;
  font-size: inherit !important;
  height: 100%;
  width: 2.57142857em;
}

.oc-button--icon > i:before {
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  width: 100%;
  left: 0;
}

a.oc-button:hover, a.oc-button:focus {
  text-decoration: none;
}
