/**
 * TOCC Style Guide Element
 *
 * @filename _content.scss
 * @brand    North Devon Holiday Cottages
 * @name     content
 * @author   Tabs System User
 */
/**
 * TOCC Style Guide Element
 *
 * @filename _content.scss
 * @brand    Vanilla
 * @name     content
 * @author   Alex Wyett
 * @date     2019-04-25
 */
.oc-content h1,
h1.oc-title {
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 28px;
  line-height: 38px;
}

@media screen and (min-width: 40em) {
  .oc-content h1,
  h1.oc-title {
    font-size: 34px;
    line-height: 44px;
  }
}

.oc-content h1 > em,
h1.oc-title > em {
  font-family: Georgia;
  font-style: italic;
}

.oc-content h1 > a,
h1.oc-title > a {
  color: #A29D78;
  font-weight: bold;
}

.oc-content h1 > a:visited, .oc-content h1 > a:hover,
h1.oc-title > a:visited,
h1.oc-title > a:hover {
  color: #B9B69A;
}

.oc-content h2,
h2.oc-title {
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 22px;
  line-height: 30px;
}

@media screen and (min-width: 40em) {
  .oc-content h2,
  h2.oc-title {
    font-size: 28px;
    line-height: 38px;
  }
}

.oc-content h2 > em,
h2.oc-title > em {
  font-family: Georgia;
  font-style: italic;
}

.oc-content h2 > a,
h2.oc-title > a {
  color: #A29D78;
  font-weight: bold;
}

.oc-content h2 > a:visited, .oc-content h2 > a:hover,
h2.oc-title > a:visited,
h2.oc-title > a:hover {
  color: #B9B69A;
}

.oc-content h3,
h3.oc-title {
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 18px;
  line-height: 28px;
}

@media screen and (min-width: 40em) {
  .oc-content h3,
  h3.oc-title {
    font-size: 22px;
    line-height: 30px;
  }
}

.oc-content h3 > em,
h3.oc-title > em {
  font-family: Georgia;
  font-style: italic;
}

.oc-content h3 > a,
h3.oc-title > a {
  color: #A29D78;
  font-weight: bold;
}

.oc-content h3 > a:visited, .oc-content h3 > a:hover,
h3.oc-title > a:visited,
h3.oc-title > a:hover {
  color: #B9B69A;
}

.oc-content h4,
h4.oc-title {
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 16px;
  line-height: 26px;
}

@media screen and (min-width: 40em) {
  .oc-content h4,
  h4.oc-title {
    font-size: 18px;
    line-height: 28px;
  }
}

.oc-content h4 > em,
h4.oc-title > em {
  font-family: Georgia;
  font-style: italic;
}

.oc-content h4 > a,
h4.oc-title > a {
  color: #A29D78;
  font-weight: bold;
}

.oc-content h4 > a:visited, .oc-content h4 > a:hover,
h4.oc-title > a:visited,
h4.oc-title > a:hover {
  color: #B9B69A;
}

.oc-content h5,
h5.oc-title {
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 14px;
  line-height: 20px;
}

@media screen and (min-width: 40em) {
  .oc-content h5,
  h5.oc-title {
    font-size: 16px;
    line-height: 26px;
  }
}

.oc-content h5 > em,
h5.oc-title > em {
  font-family: Georgia;
  font-style: italic;
}

.oc-content h5 > a,
h5.oc-title > a {
  color: #A29D78;
  font-weight: bold;
}

.oc-content h5 > a:visited, .oc-content h5 > a:hover,
h5.oc-title > a:visited,
h5.oc-title > a:hover {
  color: #B9B69A;
}

.oc-prefix:before {
  content: attr(data-prefix);
}

@media screen and (max-width: 39.99875em) {
  .oc-prefix--bos:before {
    display: block;
  }
}

@media screen and (max-width: 39.99875em) {
  .oc-prefix--smallonly:before {
    content: attr(data-prefix);
  }
}

.oc-prefix--bold:before {
  font-weight: bold;
  color: #A29D78;
}

.oc-prefix--title:before {
  color: #A29D78;
  font-weight: bold;
  font-family: sharpsansbook, sans-serif;
  text-transform: none;
}

.oc-prefix .oc-prefix--h1-mobile:before {
  font-size: 28px !important;
}

.oc-prefix .oc-prefix--h2-mobile:before {
  font-size: 22px !important;
}

.oc-prefix .oc-prefix--h3-mobile:before {
  font-size: 18px !important;
}

.oc-prefix .oc-prefix--h4-mobile:before {
  font-size: 16px !important;
}

.oc-prefix .oc-prefix--h5-mobile:before {
  font-size: 14px !important;
}

.oc-prefix .oc-prefix--h1:before {
  font-size: 34px !important;
}

.oc-prefix .oc-prefix--h2:before {
  font-size: 28px !important;
}

.oc-prefix .oc-prefix--h3:before {
  font-size: 22px !important;
}

.oc-prefix .oc-prefix--h4:before {
  font-size: 18px !important;
}

.oc-prefix .oc-prefix--h5:before {
  font-size: 16px !important;
}

.oc-prefix .oc-prefix--large:before {
  font-size: 16px !important;
}

.oc-prefix .oc-prefix--normal:before {
  font-size: 14px !important;
}

.oc-prefix .oc-prefix--small:before {
  font-size: 12px !important;
}

.oc-prefix .oc-prefix--mini:before {
  font-size: 11px !important;
}

.oc-prefix .oc-prefix--tiny:before {
  font-size: 10px !important;
}

.oc-prefix .oc-prefix--nano:before {
  font-size: 8px !important;
}

.oc-clear__margin--small {
  margin: 0 !important;
  padding: 0 !important;
}

@media screen and (min-width: 40em) {
  .oc-clear__margin--medium {
    margin: 0 !important;
    padding: 0 !important;
  }
}

@media screen and (min-width: 64.0625em) {
  .oc-clear__margin--large {
    margin: 0 !important;
    padding: 0 !important;
  }
}

h1.oc-title,
h2.oc-title,
h3.oc-title,
h4.oc-title,
h5.oc-title {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.oc-title,
.oc-title > p,
.oc-title > a,
.oc-content h1,
.oc-content h1 > p,
.oc-content h1 > a,
.oc-content h2,
.oc-content h2 > p,
.oc-content h2 > a,
.oc-content h3,
.oc-content h3 > p,
.oc-content h3 > a,
.oc-content h4,
.oc-content h4 > p,
.oc-content h4 > a,
.oc-content h5,
.oc-content h5 > p,
.oc-content h5 > a,
.oc-content blockquote,
.oc-content blockquote > p,
.oc-content blockquote > a {
  color: #A29D78;
  font-weight: bold;
  font-family: sharpsansbook, sans-serif;
  text-transform: none;
}

.oc-slider {
  overflow-y: hidden;
  overflow-x: auto;
  width: 100%;
  white-space: nowrap;
}

.oc-table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 0px;
}

.oc-table thead tr th,
.oc-table thead tr td {
  color: #A29D78;
}

.oc-table thead,
.oc-table tbody,
.oc-table tfoot {
  border: 1px solid #F1F1F1;
  background-color: #FEFEFE;
}

.oc-table thead tr th,
.oc-table thead tr td,
.oc-table tbody tr th,
.oc-table tbody tr td,
.oc-table tfoot tr th,
.oc-table tfoot tr td {
  font-size: 14px;
  line-height: 20px;
  color: #5B6064;
  font-family: sharpsansbook, sans-serif;
  padding: 0.5rem;
  vertical-align: middle;
}

.oc-table thead tr th > em,
.oc-table thead tr td > em,
.oc-table tbody tr th > em,
.oc-table tbody tr td > em,
.oc-table tfoot tr th > em,
.oc-table tfoot tr td > em {
  font-family: Georgia;
  font-style: italic;
}

.oc-table thead tr th .oc-button,
.oc-table thead tr th button,
.oc-table thead tr th .button,
.oc-table thead tr td .oc-button,
.oc-table thead tr td button,
.oc-table thead tr td .button,
.oc-table tbody tr th .oc-button,
.oc-table tbody tr th button,
.oc-table tbody tr th .button,
.oc-table tbody tr td .oc-button,
.oc-table tbody tr td button,
.oc-table tbody tr td .button,
.oc-table tfoot tr th .oc-button,
.oc-table tfoot tr th button,
.oc-table tfoot tr th .button,
.oc-table tfoot tr td .oc-button,
.oc-table tfoot tr td button,
.oc-table tfoot tr td .button {
  margin-bottom: 0;
}

@media screen and (max-width: 39.99875em) {
  .oc-table thead tr th:last-child > .oc-button,
  .oc-table thead tr th:last-child > button,
  .oc-table thead tr th:last-child > .button,
  .oc-table thead tr td:last-child > .oc-button,
  .oc-table thead tr td:last-child > button,
  .oc-table thead tr td:last-child > .button,
  .oc-table tbody tr th:last-child > .oc-button,
  .oc-table tbody tr th:last-child > button,
  .oc-table tbody tr th:last-child > .button,
  .oc-table tbody tr td:last-child > .oc-button,
  .oc-table tbody tr td:last-child > button,
  .oc-table tbody tr td:last-child > .button,
  .oc-table tfoot tr th:last-child > .oc-button,
  .oc-table tfoot tr th:last-child > button,
  .oc-table tfoot tr th:last-child > .button,
  .oc-table tfoot tr td:last-child > .oc-button,
  .oc-table tfoot tr td:last-child > button,
  .oc-table tfoot tr td:last-child > .button {
    width: 100%;
  }
  .oc-table thead tr th:last-child > .oc-button + .oc-button,
  .oc-table thead tr th:last-child > .oc-button + button,
  .oc-table thead tr th:last-child > .oc-button + .button,
  .oc-table thead tr th:last-child > button + .oc-button,
  .oc-table thead tr th:last-child > button + button,
  .oc-table thead tr th:last-child > button + .button,
  .oc-table thead tr th:last-child > .button + .oc-button,
  .oc-table thead tr th:last-child > .button + button,
  .oc-table thead tr th:last-child > .button + .button,
  .oc-table thead tr td:last-child > .oc-button + .oc-button,
  .oc-table thead tr td:last-child > .oc-button + button,
  .oc-table thead tr td:last-child > .oc-button + .button,
  .oc-table thead tr td:last-child > button + .oc-button,
  .oc-table thead tr td:last-child > button + button,
  .oc-table thead tr td:last-child > button + .button,
  .oc-table thead tr td:last-child > .button + .oc-button,
  .oc-table thead tr td:last-child > .button + button,
  .oc-table thead tr td:last-child > .button + .button,
  .oc-table tbody tr th:last-child > .oc-button + .oc-button,
  .oc-table tbody tr th:last-child > .oc-button + button,
  .oc-table tbody tr th:last-child > .oc-button + .button,
  .oc-table tbody tr th:last-child > button + .oc-button,
  .oc-table tbody tr th:last-child > button + button,
  .oc-table tbody tr th:last-child > button + .button,
  .oc-table tbody tr th:last-child > .button + .oc-button,
  .oc-table tbody tr th:last-child > .button + button,
  .oc-table tbody tr th:last-child > .button + .button,
  .oc-table tbody tr td:last-child > .oc-button + .oc-button,
  .oc-table tbody tr td:last-child > .oc-button + button,
  .oc-table tbody tr td:last-child > .oc-button + .button,
  .oc-table tbody tr td:last-child > button + .oc-button,
  .oc-table tbody tr td:last-child > button + button,
  .oc-table tbody tr td:last-child > button + .button,
  .oc-table tbody tr td:last-child > .button + .oc-button,
  .oc-table tbody tr td:last-child > .button + button,
  .oc-table tbody tr td:last-child > .button + .button,
  .oc-table tfoot tr th:last-child > .oc-button + .oc-button,
  .oc-table tfoot tr th:last-child > .oc-button + button,
  .oc-table tfoot tr th:last-child > .oc-button + .button,
  .oc-table tfoot tr th:last-child > button + .oc-button,
  .oc-table tfoot tr th:last-child > button + button,
  .oc-table tfoot tr th:last-child > button + .button,
  .oc-table tfoot tr th:last-child > .button + .oc-button,
  .oc-table tfoot tr th:last-child > .button + button,
  .oc-table tfoot tr th:last-child > .button + .button,
  .oc-table tfoot tr td:last-child > .oc-button + .oc-button,
  .oc-table tfoot tr td:last-child > .oc-button + button,
  .oc-table tfoot tr td:last-child > .oc-button + .button,
  .oc-table tfoot tr td:last-child > button + .oc-button,
  .oc-table tfoot tr td:last-child > button + button,
  .oc-table tfoot tr td:last-child > button + .button,
  .oc-table tfoot tr td:last-child > .button + .oc-button,
  .oc-table tfoot tr td:last-child > .button + button,
  .oc-table tfoot tr td:last-child > .button + .button {
    margin-top: 1rem;
  }
}

@media screen and (min-width: 40em) {
  .oc-table thead tr th:last-child > .oc-button + .oc-button,
  .oc-table thead tr th:last-child > .oc-button + button,
  .oc-table thead tr th:last-child > .oc-button + .button,
  .oc-table thead tr th:last-child > button + .oc-button,
  .oc-table thead tr th:last-child > button + button,
  .oc-table thead tr th:last-child > button + .button,
  .oc-table thead tr th:last-child > .button + .oc-button,
  .oc-table thead tr th:last-child > .button + button,
  .oc-table thead tr th:last-child > .button + .button,
  .oc-table thead tr td:last-child > .oc-button + .oc-button,
  .oc-table thead tr td:last-child > .oc-button + button,
  .oc-table thead tr td:last-child > .oc-button + .button,
  .oc-table thead tr td:last-child > button + .oc-button,
  .oc-table thead tr td:last-child > button + button,
  .oc-table thead tr td:last-child > button + .button,
  .oc-table thead tr td:last-child > .button + .oc-button,
  .oc-table thead tr td:last-child > .button + button,
  .oc-table thead tr td:last-child > .button + .button,
  .oc-table tbody tr th:last-child > .oc-button + .oc-button,
  .oc-table tbody tr th:last-child > .oc-button + button,
  .oc-table tbody tr th:last-child > .oc-button + .button,
  .oc-table tbody tr th:last-child > button + .oc-button,
  .oc-table tbody tr th:last-child > button + button,
  .oc-table tbody tr th:last-child > button + .button,
  .oc-table tbody tr th:last-child > .button + .oc-button,
  .oc-table tbody tr th:last-child > .button + button,
  .oc-table tbody tr th:last-child > .button + .button,
  .oc-table tbody tr td:last-child > .oc-button + .oc-button,
  .oc-table tbody tr td:last-child > .oc-button + button,
  .oc-table tbody tr td:last-child > .oc-button + .button,
  .oc-table tbody tr td:last-child > button + .oc-button,
  .oc-table tbody tr td:last-child > button + button,
  .oc-table tbody tr td:last-child > button + .button,
  .oc-table tbody tr td:last-child > .button + .oc-button,
  .oc-table tbody tr td:last-child > .button + button,
  .oc-table tbody tr td:last-child > .button + .button,
  .oc-table tfoot tr th:last-child > .oc-button + .oc-button,
  .oc-table tfoot tr th:last-child > .oc-button + button,
  .oc-table tfoot tr th:last-child > .oc-button + .button,
  .oc-table tfoot tr th:last-child > button + .oc-button,
  .oc-table tfoot tr th:last-child > button + button,
  .oc-table tfoot tr th:last-child > button + .button,
  .oc-table tfoot tr th:last-child > .button + .oc-button,
  .oc-table tfoot tr th:last-child > .button + button,
  .oc-table tfoot tr th:last-child > .button + .button,
  .oc-table tfoot tr td:last-child > .oc-button + .oc-button,
  .oc-table tfoot tr td:last-child > .oc-button + button,
  .oc-table tfoot tr td:last-child > .oc-button + .button,
  .oc-table tfoot tr td:last-child > button + .oc-button,
  .oc-table tfoot tr td:last-child > button + button,
  .oc-table tfoot tr td:last-child > button + .button,
  .oc-table tfoot tr td:last-child > .button + .oc-button,
  .oc-table tfoot tr td:last-child > .button + button,
  .oc-table tfoot tr td:last-child > .button + .button {
    margin-left: 1rem;
  }
}

.oc-table thead,
.oc-table tfoot {
  background-color: #F8F8F8;
}

.oc-table thead tr,
.oc-table tfoot tr {
  background-color: transparent;
}

.oc-table tbody tr:nth-child(even) {
  background-color: #F8F8F8;
}

.oc-table tbody + tfoot {
  border-top: 0 none;
}

.oc-table--collapsable thead {
  display: none;
}

@media screen and (min-width: 40em) {
  .oc-table--collapsable thead {
    display: table-header-group;
  }
}

.oc-table--collapsable tbody,
.oc-table--collapsable tbody tr,
.oc-table--collapsable tbody tr td,
.oc-table--collapsable tfoot,
.oc-table--collapsable tfoot tr,
.oc-table--collapsable tfoot tr td {
  display: block;
}

@media screen and (min-width: 40em) {
  .oc-table--collapsable tbody,
  .oc-table--collapsable tfoot {
    display: table-row-group;
  }
  .oc-table--collapsable tbody tr,
  .oc-table--collapsable tfoot tr {
    display: table-row;
  }
  .oc-table--collapsable tbody tr td,
  .oc-table--collapsable tfoot tr td {
    display: table-cell;
  }
}

.oc-content p,
.oc-content table thead tr th,
.oc-content table tbody tr td,
.oc-content table tfoot tr td {
  font-size: 14px;
  line-height: 20px;
  color: #5B6064;
  font-family: sharpsansbook, sans-serif;
}

.oc-content p > em,
.oc-content table thead tr th > em,
.oc-content table tbody tr td > em,
.oc-content table tfoot tr td > em {
  font-family: Georgia;
  font-style: italic;
}

@media screen and (min-width: 64.0625em) {
  .oc-content[data-lg-columns='2'] {
    column-count: 2;
    column-gap: 2rem;
  }
}

@media screen and (min-width: 64.0625em) {
  .oc-content[data-lg-columns='3'] {
    column-count: 3;
    column-gap: 2rem;
  }
}

.oc-content p:not(:last-child),
.oc-content table:not(:last-child),
.oc-content figure:not(:last-child),
.oc-content blockquote:not(:last-child) {
  margin-bottom: 1.2rem;
}

.oc-content p a,
.oc-content table a,
.oc-content figure a,
.oc-content blockquote a {
  color: #A29D78;
  font-weight: bold;
}

.oc-content p a:visited, .oc-content p a:hover,
.oc-content table a:visited,
.oc-content table a:hover,
.oc-content figure a:visited,
.oc-content figure a:hover,
.oc-content blockquote a:visited,
.oc-content blockquote a:hover {
  color: #B9B69A;
}

.oc-content table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 0px;
}

.oc-content table thead tr th,
.oc-content table thead tr td {
  color: #A29D78;
}

.oc-content table thead,
.oc-content table tbody,
.oc-content table tfoot {
  border: 1px solid #F1F1F1;
  background-color: #FEFEFE;
}

.oc-content table thead tr th,
.oc-content table thead tr td,
.oc-content table tbody tr th,
.oc-content table tbody tr td,
.oc-content table tfoot tr th,
.oc-content table tfoot tr td {
  font-size: 14px;
  line-height: 20px;
  color: #5B6064;
  font-family: sharpsansbook, sans-serif;
  padding: 0.5rem;
  vertical-align: middle;
}

.oc-content table thead tr th > em,
.oc-content table thead tr td > em,
.oc-content table tbody tr th > em,
.oc-content table tbody tr td > em,
.oc-content table tfoot tr th > em,
.oc-content table tfoot tr td > em {
  font-family: Georgia;
  font-style: italic;
}

.oc-content table thead tr th .oc-button,
.oc-content table thead tr th button,
.oc-content table thead tr th .button,
.oc-content table thead tr td .oc-button,
.oc-content table thead tr td button,
.oc-content table thead tr td .button,
.oc-content table tbody tr th .oc-button,
.oc-content table tbody tr th button,
.oc-content table tbody tr th .button,
.oc-content table tbody tr td .oc-button,
.oc-content table tbody tr td button,
.oc-content table tbody tr td .button,
.oc-content table tfoot tr th .oc-button,
.oc-content table tfoot tr th button,
.oc-content table tfoot tr th .button,
.oc-content table tfoot tr td .oc-button,
.oc-content table tfoot tr td button,
.oc-content table tfoot tr td .button {
  margin-bottom: 0;
}

@media screen and (max-width: 39.99875em) {
  .oc-content table thead tr th:last-child > .oc-button,
  .oc-content table thead tr th:last-child > button,
  .oc-content table thead tr th:last-child > .button,
  .oc-content table thead tr td:last-child > .oc-button,
  .oc-content table thead tr td:last-child > button,
  .oc-content table thead tr td:last-child > .button,
  .oc-content table tbody tr th:last-child > .oc-button,
  .oc-content table tbody tr th:last-child > button,
  .oc-content table tbody tr th:last-child > .button,
  .oc-content table tbody tr td:last-child > .oc-button,
  .oc-content table tbody tr td:last-child > button,
  .oc-content table tbody tr td:last-child > .button,
  .oc-content table tfoot tr th:last-child > .oc-button,
  .oc-content table tfoot tr th:last-child > button,
  .oc-content table tfoot tr th:last-child > .button,
  .oc-content table tfoot tr td:last-child > .oc-button,
  .oc-content table tfoot tr td:last-child > button,
  .oc-content table tfoot tr td:last-child > .button {
    width: 100%;
  }
  .oc-content table thead tr th:last-child > .oc-button + .oc-button,
  .oc-content table thead tr th:last-child > .oc-button + button,
  .oc-content table thead tr th:last-child > .oc-button + .button,
  .oc-content table thead tr th:last-child > button + .oc-button,
  .oc-content table thead tr th:last-child > button + button,
  .oc-content table thead tr th:last-child > button + .button,
  .oc-content table thead tr th:last-child > .button + .oc-button,
  .oc-content table thead tr th:last-child > .button + button,
  .oc-content table thead tr th:last-child > .button + .button,
  .oc-content table thead tr td:last-child > .oc-button + .oc-button,
  .oc-content table thead tr td:last-child > .oc-button + button,
  .oc-content table thead tr td:last-child > .oc-button + .button,
  .oc-content table thead tr td:last-child > button + .oc-button,
  .oc-content table thead tr td:last-child > button + button,
  .oc-content table thead tr td:last-child > button + .button,
  .oc-content table thead tr td:last-child > .button + .oc-button,
  .oc-content table thead tr td:last-child > .button + button,
  .oc-content table thead tr td:last-child > .button + .button,
  .oc-content table tbody tr th:last-child > .oc-button + .oc-button,
  .oc-content table tbody tr th:last-child > .oc-button + button,
  .oc-content table tbody tr th:last-child > .oc-button + .button,
  .oc-content table tbody tr th:last-child > button + .oc-button,
  .oc-content table tbody tr th:last-child > button + button,
  .oc-content table tbody tr th:last-child > button + .button,
  .oc-content table tbody tr th:last-child > .button + .oc-button,
  .oc-content table tbody tr th:last-child > .button + button,
  .oc-content table tbody tr th:last-child > .button + .button,
  .oc-content table tbody tr td:last-child > .oc-button + .oc-button,
  .oc-content table tbody tr td:last-child > .oc-button + button,
  .oc-content table tbody tr td:last-child > .oc-button + .button,
  .oc-content table tbody tr td:last-child > button + .oc-button,
  .oc-content table tbody tr td:last-child > button + button,
  .oc-content table tbody tr td:last-child > button + .button,
  .oc-content table tbody tr td:last-child > .button + .oc-button,
  .oc-content table tbody tr td:last-child > .button + button,
  .oc-content table tbody tr td:last-child > .button + .button,
  .oc-content table tfoot tr th:last-child > .oc-button + .oc-button,
  .oc-content table tfoot tr th:last-child > .oc-button + button,
  .oc-content table tfoot tr th:last-child > .oc-button + .button,
  .oc-content table tfoot tr th:last-child > button + .oc-button,
  .oc-content table tfoot tr th:last-child > button + button,
  .oc-content table tfoot tr th:last-child > button + .button,
  .oc-content table tfoot tr th:last-child > .button + .oc-button,
  .oc-content table tfoot tr th:last-child > .button + button,
  .oc-content table tfoot tr th:last-child > .button + .button,
  .oc-content table tfoot tr td:last-child > .oc-button + .oc-button,
  .oc-content table tfoot tr td:last-child > .oc-button + button,
  .oc-content table tfoot tr td:last-child > .oc-button + .button,
  .oc-content table tfoot tr td:last-child > button + .oc-button,
  .oc-content table tfoot tr td:last-child > button + button,
  .oc-content table tfoot tr td:last-child > button + .button,
  .oc-content table tfoot tr td:last-child > .button + .oc-button,
  .oc-content table tfoot tr td:last-child > .button + button,
  .oc-content table tfoot tr td:last-child > .button + .button {
    margin-top: 1rem;
  }
}

@media screen and (min-width: 40em) {
  .oc-content table thead tr th:last-child > .oc-button + .oc-button,
  .oc-content table thead tr th:last-child > .oc-button + button,
  .oc-content table thead tr th:last-child > .oc-button + .button,
  .oc-content table thead tr th:last-child > button + .oc-button,
  .oc-content table thead tr th:last-child > button + button,
  .oc-content table thead tr th:last-child > button + .button,
  .oc-content table thead tr th:last-child > .button + .oc-button,
  .oc-content table thead tr th:last-child > .button + button,
  .oc-content table thead tr th:last-child > .button + .button,
  .oc-content table thead tr td:last-child > .oc-button + .oc-button,
  .oc-content table thead tr td:last-child > .oc-button + button,
  .oc-content table thead tr td:last-child > .oc-button + .button,
  .oc-content table thead tr td:last-child > button + .oc-button,
  .oc-content table thead tr td:last-child > button + button,
  .oc-content table thead tr td:last-child > button + .button,
  .oc-content table thead tr td:last-child > .button + .oc-button,
  .oc-content table thead tr td:last-child > .button + button,
  .oc-content table thead tr td:last-child > .button + .button,
  .oc-content table tbody tr th:last-child > .oc-button + .oc-button,
  .oc-content table tbody tr th:last-child > .oc-button + button,
  .oc-content table tbody tr th:last-child > .oc-button + .button,
  .oc-content table tbody tr th:last-child > button + .oc-button,
  .oc-content table tbody tr th:last-child > button + button,
  .oc-content table tbody tr th:last-child > button + .button,
  .oc-content table tbody tr th:last-child > .button + .oc-button,
  .oc-content table tbody tr th:last-child > .button + button,
  .oc-content table tbody tr th:last-child > .button + .button,
  .oc-content table tbody tr td:last-child > .oc-button + .oc-button,
  .oc-content table tbody tr td:last-child > .oc-button + button,
  .oc-content table tbody tr td:last-child > .oc-button + .button,
  .oc-content table tbody tr td:last-child > button + .oc-button,
  .oc-content table tbody tr td:last-child > button + button,
  .oc-content table tbody tr td:last-child > button + .button,
  .oc-content table tbody tr td:last-child > .button + .oc-button,
  .oc-content table tbody tr td:last-child > .button + button,
  .oc-content table tbody tr td:last-child > .button + .button,
  .oc-content table tfoot tr th:last-child > .oc-button + .oc-button,
  .oc-content table tfoot tr th:last-child > .oc-button + button,
  .oc-content table tfoot tr th:last-child > .oc-button + .button,
  .oc-content table tfoot tr th:last-child > button + .oc-button,
  .oc-content table tfoot tr th:last-child > button + button,
  .oc-content table tfoot tr th:last-child > button + .button,
  .oc-content table tfoot tr th:last-child > .button + .oc-button,
  .oc-content table tfoot tr th:last-child > .button + button,
  .oc-content table tfoot tr th:last-child > .button + .button,
  .oc-content table tfoot tr td:last-child > .oc-button + .oc-button,
  .oc-content table tfoot tr td:last-child > .oc-button + button,
  .oc-content table tfoot tr td:last-child > .oc-button + .button,
  .oc-content table tfoot tr td:last-child > button + .oc-button,
  .oc-content table tfoot tr td:last-child > button + button,
  .oc-content table tfoot tr td:last-child > button + .button,
  .oc-content table tfoot tr td:last-child > .button + .oc-button,
  .oc-content table tfoot tr td:last-child > .button + button,
  .oc-content table tfoot tr td:last-child > .button + .button {
    margin-left: 1rem;
  }
}

.oc-content table thead,
.oc-content table tfoot {
  background-color: #F8F8F8;
}

.oc-content table thead tr,
.oc-content table tfoot tr {
  background-color: transparent;
}

.oc-content table tbody tr:nth-child(even) {
  background-color: #F8F8F8;
}

.oc-content table tbody + tfoot {
  border-top: 0 none;
}

.oc-content table--collapsable thead {
  display: none;
}

@media screen and (min-width: 40em) {
  .oc-content table--collapsable thead {
    display: table-header-group;
  }
}

.oc-content table--collapsable tbody,
.oc-content table--collapsable tbody tr,
.oc-content table--collapsable tbody tr td,
.oc-content table--collapsable tfoot,
.oc-content table--collapsable tfoot tr,
.oc-content table--collapsable tfoot tr td {
  display: block;
}

@media screen and (min-width: 40em) {
  .oc-content table--collapsable tbody,
  .oc-content table--collapsable tfoot {
    display: table-row-group;
  }
  .oc-content table--collapsable tbody tr,
  .oc-content table--collapsable tfoot tr {
    display: table-row;
  }
  .oc-content table--collapsable tbody tr td,
  .oc-content table--collapsable tfoot tr td {
    display: table-cell;
  }
}

.oc-content img,
.oc-content figure {
  width: 100%;
}

@media screen and (min-width: 40em) {
  .oc-content img,
  .oc-content figure {
    width: auto;
  }
}

@media screen and (min-width: 40em) {
  .oc-content img.align-right,
  .oc-content figure.align-right {
    float: right;
    margin-left: 1rem;
  }
}

@media screen and (min-width: 40em) {
  .oc-content img.align-left,
  .oc-content figure.align-left {
    float: left;
    margin-right: 1rem;
  }
}

.oc-content img.align-center,
.oc-content figure.align-center {
  margin-bottom: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.oc-content figure > img,
.oc-content p > img {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}

@media screen and (min-width: 40em) {
  .oc-content figure > img,
  .oc-content p > img {
    display: inline;
    width: auto;
    margin-bottom: auto;
  }
}

.oc-content figure > img {
  margin-bottom: 0;
}

@media screen and (min-width: 40em) {
  .oc-content figure.align-center {
    display: table;
  }
}

@media screen and (min-width: 40em) {
  .oc-content figure img {
    display: block;
  }
}

.oc-content figure figcaption {
  font-size: 14px;
  line-height: 20px;
  color: #5B6064;
  font-family: sharpsansbook, sans-serif;
  padding: 5px 0;
  font-weight: bold;
  font-size: 12px;
}

.oc-content figure figcaption > em {
  font-family: Georgia;
  font-style: italic;
}

@media screen and (min-width: 40em) {
  .oc-content figure figcaption {
    display: inline-block;
    max-width: 300px;
  }
}

.oc-content blockquote {
  padding: 1rem;
}

.oc-content blockquote,
.oc-content blockquote > p {
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 18px;
  line-height: 28px;
  font-family: Georgia;
  font-style: italic;
}

@media screen and (min-width: 40em) {
  .oc-content blockquote,
  .oc-content blockquote > p {
    font-size: 22px;
    line-height: 30px;
  }
}

.oc-content blockquote > em,
.oc-content blockquote > p > em {
  font-family: Georgia;
  font-style: italic;
}

.oc-content blockquote > a,
.oc-content blockquote > p > a {
  color: #A29D78;
  font-weight: bold;
}

.oc-content blockquote > a:visited, .oc-content blockquote > a:hover,
.oc-content blockquote > p > a:visited,
.oc-content blockquote > p > a:hover {
  color: #B9B69A;
}

.oc-content ul,
.oc-content ol {
  margin-left: 1.25rem;
  margin-bottom: 1.25rem;
}

.oc-content ul li,
.oc-content ol li {
  font-size: 14px;
  line-height: 20px;
  color: #5B6064;
  font-family: sharpsansbook, sans-serif;
}

.oc-content ul li > em,
.oc-content ol li > em {
  font-family: Georgia;
  font-style: italic;
}

.oc-content ul {
  list-style: disc;
}

.oc-content ol {
  list-style: decimal;
}
