<div class="oc-advert" style="background-color: #F9D8C5;">
    <div class="oc-advert__column">
        <picture>
            <source srcset="https://placeimg.com/335/142/nature" media="(max-width: 335px)" />
            <img src="https://placeimg.com/600/302/nature" />
        </picture>
    </div>
    <div class="oc-advert__column">
        <div class="oc-content">
            <h4 class="oc-title">
                Find out what your local team can do for you
            </h4>
            <p>
                We're a national holiday cottages company, with a family
                of twenty local agencies across England and Wales.
            </p>
        </div>
    </div>
</div>