<div class="oc-brandimagetile">
    <a href="#" class="oc-brandimagetile__image" style="background-image: url(https://placeimg.com/400/400/animals);">
        <div class="oc-brandimagetile__tags">
            <span class="oc-label bg--bc1">Tile 2</span>
        </div>
        <div class="oc-content">
            <h4 class="oc-title">
                Test image tile
            </h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </a>
</div>

<div class="oc-brandimagetile">
    <a href="#" class="oc-brandimagetile__image" style="background-image: url(https://placeimg.com/400/400/animals);">
        <div class="oc-brandimagetile__tags">
            <span class="oc-label bg--bc1">Tile 2</span>
        </div>
        <div class="oc-content">
            <h4 class="oc-title">
                Test image tile
            </h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </a>
    <button class="oc-button">Call to action</button>
</div>