<p>
	To group buttons separated by a small border simply add a container div with the class
	<strong>oc-button-group</strong>.
</p>

<div class="oc-button-group">
	<button class="oc-button">Normal</button>
	<button class="oc-button oc-button--hollow">Hollow</button>
	<button class="oc-button oc-button--success">Success</button>
	<button class="oc-button oc-button--warning">Warning</button>
	<button class="oc-button oc-button--alert">Alert</button>
</div>

<hr/>

<p>
	To make the group full-width with equal width buttons add the
	<strong>oc-button-group--expanded</strong>
	class.
</p>

<div class="oc-button-group oc-button-group--expanded">
	<button class="oc-button">Normal</button>
	<button class="oc-button oc-button--hollow">Hollow</button>
	<button class="oc-button oc-button--success">Success</button>
	<button class="oc-button oc-button--warning">Warning</button>
	<button class="oc-button oc-button--alert">Alert</button>
</div>
