<div class="oc-buttonlabel">
  <i class="fa fa-thumbtack"></i>
  <div class="oc-label oc-label--hollow oc-label--normal">
    On 16/06/2020 you agreed to transfer your booking with a £60 discount. Your transfer still needs to be completed.
  </div><button class="oc-button">Transfer Booking</button>
</div>

<div class="oc-callout">
  <div class="oc-buttonlabel">
    <i class="fa fa-thumbtack"></i>
    <div class="oc-label oc-label--hollow oc-label--normal">
      On 16/06/2020 you agreed to transfer your booking with a £60 discount. Your transfer still needs to be completed.
    </div><button class="oc-button">Transfer Booking</button>
  </div>

  <div class="oc-callout oc-content">
    <p>Button label with callout example.</p>
  </div>
</div>