<div class="oc-callout oc-content">
    <h4 class="oc-title">Callout</h4>
    <p>This is a callout</p>
</div>

<div class="oc-callout oc-callout--hollow oc-content">
    <h4 class="oc-title">Hollow Callout</h4>
    <p>This is a hollow callout</p>
</div>

<div class="oc-callout oc-content oc-callout--postit">
    <p><em>This is a postit callout</em></p>
</div>

<div class="oc-callout oc-content oc-callout--testimonial">
    <h4 class="oc-title">Mrs Smith</h4>
    <p>This is a testimonial callout.</p>
</div>

<div class="oc-callout bg--one c--white oc-content">
    <h4 class="oc-title">Callout in colour</h4>
    <p>This is a hollow callout in a different colour</p>
</div>

<div class="oc-callout oc-loading">
    <h4 class="oc-title">Loading callout</h4>
    <p>This is a loading callout</p>
</div>

<div class="oc-callout bg--one c--white oc-content oc-loading">
    <h4 class="oc-title">Loading callout in colour</h4>
    <p>This is a loading hollow callout in a different colour</p>
</div>

<div class="oc-callout">
    <div class="oc-callout oc-content">
        <h4 class="oc-title">Nested callout</h4>
        <p>This is a callout</p>
    </div>
    <div class="oc-callout oc-content">
        <h4 class="oc-title">Nested callout</h4>
        <p>This is a callout</p>
    </div>
</div>

<div class="oc-callout">
    <p class="oc-subtitle--parent">
        <strong>
            <time>7th</time> to <time>14th Jun 2019</time>
        </strong>
        <small class="oc-subtitle">(7 Nights)</small>
    </p>
    <p class="oc-subtitle--parent">
      <strong>Total Price: &pound;505</strong>
      <small class="oc-subtitle">including &pound;15 non-refundable accidental damage deposit waiver</small>
    </p>
</div>

<h2 class="oc-title">
    Callout groups
</h2>
<div class="oc-callout-group">
    <div class="oc-callout oc-content">
        <h4 class="oc-title">Callout</h4>
        <p>This is a callout</p>

    </div>
    <div class="oc-callout oc-content oc-callout--icon">
        <h4 class="oc-title"><i class="fa fa-user"></i>Callout</h4>
        <p>This is a callout with an icon</p>
    </div>
    <div class="oc-callout oc-content">
        <h4 class="oc-title">Callout</h4>
        <p>This is a callout with footer</p>
        <p class="oc-callout__footer oc-text-right">
            <a><strong>footer link <i class="fa fa-arrow-right"></i></strong></a>
        </p>
    </div>
    <div class="oc-callout oc-content oc-callout--icon">
        <h4 class="oc-title"><i class="fa fa-user"></i>Callout</h4>
        <p>This is a callout with an icon and footer</p>
        <p class="oc-callout__footer oc-text-right">
            <a><strong>footer link <i class="fa fa-arrow-right"></i></strong></a>
        </p>
    </div>
</div>

<h2 class="oc-title">
    Full width callout group
</h2>
<div class="oc-callout-group oc-callout-group--full">
    <div class="oc-callout oc-content">
        <h4 class="oc-title">Callout</h4>
        <p>Useful for adding the bottom margin to the last callout element.</p>
    </div>
    <div class="oc-callout oc-content oc-callout--icon">
        <h4 class="oc-title"><i class="fa fa-user"></i>Callout</h4>
        <p>This is a callout with an icon</p>
    </div>
    <div class="oc-callout oc-content">
        <h4 class="oc-title">Callout</h4>
        <p>This is a callout with footer</p>
        <p class="oc-callout__footer oc-text-right">
            <a><strong>footer link <i class="fa fa-arrow-right"></i></strong></a>
        </p>
    </div>
    <div class="oc-callout oc-content oc-callout--icon">
        <h4 class="oc-title"><i class="fa fa-user"></i>Callout</h4>
        <p>This is a callout with an icon and footer</p>
        <p class="oc-callout__footer oc-text-right">
            <a><strong>footer link <i class="fa fa-arrow-right"></i></strong></a>
        </p>
    </div>
</div>


<h2 class="oc-title">
    Callout group with no gutter and custom titles.
</h2>
<div class="oc-callout-group oc-callout-group--nogutter">
    <div class="oc-callout oc-content bg--lightgrey">
        <h4 class="oc-title bg--three c--white oc-text-centre">Callout</h4>
        <p>This is a callout</p>
    </div>
    <div class="oc-callout oc-content bg--reallylightgrey">
        <h4 class="oc-title bg--two c--white oc-text-centre">Callout</h4>
        <p>This is a callout</p>
    </div>
</div>


<h2 class="oc-title">
    Callout group with no gutter and custom titles, third width.
</h2>
<div class="oc-callout-group oc-callout-group--nogutter">
    <div class="oc-callout oc-content bg--lightgrey oc-callout--third">
        <h4 class="oc-title bg--three c--white oc-text-centre">Callout</h4>
        <p>This is a callout</p>
    </div>
    <div class="oc-callout oc-content bg--reallylightgrey oc-callout--third">
        <h4 class="oc-title bg--two c--white oc-text-centre">Callout</h4>
        <p>This is a callout</p>
    </div>
    <div class="oc-callout oc-content bg--reallylightgrey oc-callout--third">
        <h4 class="oc-title bg--two c--white oc-text-centre">Callout</h4>
        <p>This is a callout</p>
    </div>
</div>


<h2 class="oc-title">
    Callout group, third width.
</h2>
<div class="oc-callout-group">
    <div class="oc-callout oc-content oc-callout--third">
        <h4 class="oc-title">Callout</h4>
        <p>This is a callout</p>
    </div>
    <div class="oc-callout oc-content oc-callout--third">
        <h4 class="oc-title">Callout</h4>
        <p>This is a callout</p>
    </div>
    <div class="oc-callout oc-content oc-callout--third">
        <h4 class="oc-title">Callout</h4>
        <p>This is a callout</p>
    </div>
</div>


<h2 class="oc-title">
    Callout group, quarter width.
</h2>
<div class="oc-callout-group">
    <div class="oc-callout oc-content oc-callout--quarter">
        <h4 class="oc-title">Callout</h4>
        <p>This is a callout</p>
    </div>
    <div class="oc-callout oc-content oc-callout--quarter">
        <h4 class="oc-title">Callout</h4>
        <p>This is a callout</p>
    </div>
    <div class="oc-callout oc-content oc-callout--quarter">
        <h4 class="oc-title">Callout</h4>
        <p>This is a callout</p>
    </div>
    <div class="oc-callout oc-content oc-callout--quarter">
        <h4 class="oc-title">Callout</h4>
        <p>This is a callout</p>
    </div>
</div>