<div class="oc-customerreview bg--sea1">
    <h3 class="oc-title"><em>Very easy</em> to work with</h3>
    <div class="oc-content">
        <p>
            They are a great team and are very easy to work with. And above all, they
            understand that we want Hillside to be special and are interested in what
            we are trying to achieve.
        </p>
    </div>
    <p class="oc-customerreview__date">
        <strong>Trevor Leighton</strong>
        <small>Owner of Hillside in Croyde</small>
    </p>
</div>