<div class="oc-herobanner">
    <picture>
        <source srcset="https://placeimg.com/639/750/nature" media="(max-width: 639px)" />
        <source srcset="https://placeimg.com/1199/442/nature" media="(max-width: 1199px)" />
        <img src="https://placeimg.com/1440/531/nature" />
    </picture>

    <div class="oc-herobanner__overlay">
        <div class="oc-herobanner__icons">
            <img src="https://placeimg.com/118/118/arch" />
            <img src="https://placeimg.com/118/118/tech" />
        </div>
        <div class="oc-herobanner__text">
            <h1>
                Life happens here<br />Make it happen
            </h1>
        </div>
        <div class="oc-herobanner__link">
            <a href="#">Book now with confidence &gt;</a>
        </div>
    </div>
</div>
