<nav class="tocc__iconmedias">
    <a href="#" class="tocc__iconmedia">
        <h5 class="tocc__title"><i class="icon"></i>My details</h5>
        <div class="tocc__content">
            <p>Here you can edit the details for your account with us.</p>
        </div>
    </a>
    <a href="#" class="tocc__iconmedia">
        <h5 class="tocc__title"><i class="fa fa-calendar-check"></i>Change my password</h5>
        <div class="tocc__content">
            <p>Here you can change your account password.</p>
        </div>
    </a>
    <a href="#" class="tocc__iconmedia">
        <h5 class="tocc__title"><i class="fa fa-user-lock"></i>My current bookings</h5>
        <div class="tocc__content">
            <p>View and pay for your bookings.</p>
        </div>
    </a>
    <a href="#" class="tocc__iconmedia">
        <h5 class="tocc__title"><i class="fa fa-user-lock"></i>My previous bookings</h5>
        <div class="tocc__content">
            <p>View your old bookings.</p>
        </div>
    </a>
</nav>