<nav class="tocc__iconmedias">
    <a href="#" class="tocc__iconmedia">
        <h3 class="tocc__title">Lorem ipsum dolor</h3>
        <div class="tocc__content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </a>
    <a href="#" class="tocc__iconmedia">
        <h3 class="tocc__title">Lorem ipsum dolor</h3>
        <div class="tocc__content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </a>
    <a href="#" class="tocc__iconmedia">
        <h3 class="tocc__title">Lorem ipsum dolor</h3>
        <div class="tocc__content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </a>
</nav>