

  <h2>Image tile layout</h2>
  <div class="oc-imagetiles">
      <a class="oc-imagetile" style="color: #FFB199; background-color: #001556;">
        <img src="https://placeimg.com/400/400/animals" width="400" height="400" />
        <figcaption class="oc-imagetile__caption">
          <p>
            Active<br />holidays
          </p>
        </figcaption>
      </a>
      <a class="oc-imagetile" style="color: #024156; background-color: #E9D6AE;">
        <img src="https://placeimg.com/400/400/arch" width="400" height="400" />
        <figcaption class="oc-imagetile__caption">
          <p>
            National Parks of<br />England and Wales
          </p>
        </figcaption>
      </a>
      <a class="oc-imagetile" style="color: #2A3036; background-color: #FFEE79;">
        <img src="https://placeimg.com/400/400/nature" width="400" height="400" />
        <figcaption class="oc-imagetile__caption">
          <p>
            Pet friendly<br />cottages
          </p>
        </figcaption>
      </a>
      <a class="oc-imagetile" style="color: #034155; background-color: #D2E1E6;">
        <img src="https://placeimg.com/400/400/tech" width="400" height="400" />
        <figcaption class="oc-imagetile__caption">
          <p>
            Country cottage<br />getaways
          </p>
        </figcaption>
      </a>
      <a class="oc-imagetile" style="color: #001555; background-color: #FFB199;">
        <img src="https://placeimg.com/400/400/animals" width="400" height="400" />
        <figcaption class="oc-imagetile__caption">
          <p>
            Coastal cottage<br />getaways
          </p>
        </figcaption>
      </a>
      <a class="oc-imagetile" style="color: #F9D9C6; background-color: #024156;">
        <img src="https://placeimg.com/400/400/people" width="400" height="400" />
        <figcaption class="oc-imagetile__caption">
          <p>
            Glamping<br />retreats
          </p>
        </figcaption>
      </a>
  </div>