

  <h2>Image tile layout</h2>
  <div class="oc-imagetiles">
      <a class="oc-imagetile" style="color: #FFB199; background-color: #001556;">
        <img src="https://placeimg.com/400/400/animals" />
        <figcaption class="oc-imagetile__caption">
          Active<br />holidays
        </figcaption>
      </a>
      <a class="oc-imagetile" style="color: #024156; background-color: #E9D6AE;">
        <img src="https://placeimg.com/400/400/arch" />
        <figcaption class="oc-imagetile__caption">
          National Parks of<br />England and Wales
        </figcaption>
      </a>
      <a class="oc-imagetile" style="color: #2A3036; background-color: #FFEE79;">
        <img src="https://placeimg.com/400/400/nature" />
        <figcaption class="oc-imagetile__caption">
          Pet friendly<br />cottages
        </figcaption>
      </a>
      <a class="oc-imagetile" style="color: #034155; background-color: #D2E1E6;">
        <img src="https://placeimg.com/400/400/tech" />
        <figcaption class="oc-imagetile__caption">
          Country cottage<br />getaways
        </figcaption>
      </a>
      <a class="oc-imagetile" style="color: #001555; background-color: #FFB199;">
        <img src="https://placeimg.com/400/400/animals" />
        <figcaption class="oc-imagetile__caption">
          Coastal cottage<br />getaways
        </figcaption>
      </a>
      <a class="oc-imagetile" style="color: #F9D9C6; background-color: #024156;">
        <img src="https://placeimg.com/400/400/people" />
        <figcaption class="oc-imagetile__caption">
          Glamping<br />retreats
        </figcaption>
      </a>
  </div>