<div class="oc-marketingmessages--wrapper">
    <div class="oc-marketingmessage">
        <h3 class="oc-title">
            <a>2019 Holidays</a>
        </h3>
        <div class="oc-content">
            <p>Discover the delights of Dorset this year...</p>
        </div>
        <a class="oc-button"><strong>View Cottages</strong></a>
    </div>
    
    
    <div class="oc-marketingmessage">
        <h3 class="oc-title">
            <a>Short Breaks</a>
        </h3>
        <div class="oc-content">
            <p>Treat yourself to a mini getaway in Dorset without the crowds...</p>
        </div>
        <a class="oc-button"><strong>View Cottages</strong></a>
    </div>
    
    
    <div class="oc-marketingmessage">
        <h3 class="oc-title">
            <a>Let With Us</a>
        </h3>
        <div class="oc-content">
            <p>If you have a holiday cottage in Dorset we'd love to talk to you...</p>
        </div>
        <a class="oc-button"><strong>View Cottages</strong></a>
    </div>
</div>