<div class="oc-threecolumns">
    <div class="oc-threecolumns__row">
        <div class="oc-threecolumns__column oc-marketingmessage">
            <img src="https://placeimg.com/640/269/nature">
            <h4 class="oc-subtitle">
                UK holiday breaks
            </h4>
            <h3 class="oc-title">
                Get away this Spring
            </h3>
        </div>


        <div class="oc-threecolumns__column oc-marketingmessage">
            <img src="https://placeimg.com/640/269/arch">
            <h3 class="oc-title">
                How we market our properties
            </h3>
            <div class="oc-content">
                <p>
                    We have a network of approximately 30 local
                    brand websites in addition to our national website,
                    Original Cottages. Our top 100 Google ranking gives
                    us a competitive advantage that delivers results.
                </p>
            </div>
        </div>


        <div class="oc-threecolumns__column oc-marketingmessage">
            <img src="https://placeimg.com/640/269/people">
            <div class="oc-accordion">
                <input type="checkbox" id="accordion1">
                <label for="accordion1" class="oc-title oc-title--h3">
                    Truly local teams
                </label>
                <div class="oc-accordion__content oc-content">
                    <ul class="oc-list oc-list--ticked">
                        <li>
                            Our teams live and work locally. They're
                            experts not only in the local letting market,
                            but everything local.
                        </li>
                        <li>
                            For you and your guests they are on hand to
                            help deal with emergencies, resolve problems.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
