<div class="oc-grid">
    <div class="oc-marketingmessage oc-col__sm--full oc-col__lg--four oc-col__md--four">
        <img src="https://placeimg.com/640/269/nature">
        <div class="oc-marketingmessage__inner">
            <h5 class="oc-caption">
                UK holiday breaks
            </h5>
            <h4 class="oc-title">
                Get away this Spring
            </h4>
        </div>
    </div>

    <div class="oc-marketingmessage oc-col__sm--full oc-col__lg--four oc-col__md--four">
        <img src="https://placeimg.com/640/269/arch">
        <div class="oc-marketingmessage__inner">
            <h4 class="oc-title">
            How we market our properties
            </h4>
            <div class="oc-content">
                <p>
                    We have a network of approximately 30 local
                    brand websites in addition to our national website,
                    Original Cottages. Our top 100 Google ranking gives
                    us a competitive advantage that delivers results.
                </p>
            </div>
        </div>
    </div>

    <div class="oc-marketingmessage oc-col__sm--full oc-col__lg--four oc-col__md--four">
        <img src="https://placeimg.com/640/269/people">
        <div class="oc-marketingmessage__inner oc-accordion">
            <input type="checkbox" id="accordion1">
            <label for="accordion1" class="oc-title">
                Truly local teams
            </label>
            <div class="oc-accordion__content oc-content">
                <ul>
                    <li>
                        Our teams live and work locally. They're
                        experts not only in the local letting market,
                        but everything local.
                    </li>
                    <li>
                        For you and your guests they are on hand to
                        help deal with emergencies, resolve problems.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
