<p>
    <a href="#overlayexample" class="oc-button">Show overlay</a>
    <a href="#overlayloadingexample" class="oc-button">Show loading overlay</a>
</p>

<div class="oc-overlay" id="overlayexample">
    <div class="oc-overlay__container">
        <a href="#!" class="oc-overlay__close"></a>
        <div class="oc-content">
            <h2>Overlay title</h2>
            <p>Overlay content</p>
        </div>
    </div>
</div>

<div class="oc-overlay" id="overlayloadingexample">
    <div class="oc-overlay__container oc-loading">
        <a href="#!" class="oc-overlay__close"></a>
        <div class="oc-content">
            <h2>Overlay title</h2>
            <p>Overlay content</p>
        </div>
    </div>
</div>