<ul class="oc-pager">
    <li class="oc-pager__item">
        <a><i class="fas fa-chevron-left"></i></a>
    </li>
    <li class="oc-pager__item">
        <a>1</a>
    </li>
    <li class="oc-pager__item is-active current">
        <a>2</a>
    </li>
    <li class="oc-pager__item">
        <a>3</a>
    </li>
    <li class="oc-pager__item oc-pager__item--ellipsis">
        <a>…</a>
    </li>
    <li class="oc-pager__item">
        <a>7</a>
    </li>
    <li class="oc-pager__item">
        <a><i class="fas fa-chevron-right"></i></a>
    </li>
</ul>