<h4 class="tocc__title">Single attribute</h4>
<div class="tocc__propertyattribute tocc__propertyattribute--sleeps">X Guests</div>

<h4 class="tocc__title">A group of attributes</h4>
<ul class="tocc__propertyattributes">
    <li class="tocc__propertyattribute tocc__propertyattribute--sleeps">X Guests</li>
    <li class="tocc__propertyattribute tocc__propertyattribute--bedrooms">X Bedrooms</li>
    <li class="tocc__propertyattribute tocc__propertyattribute--maximumpets">X Pets</li>
    <li class="tocc__propertyattribute  tocc__propertyattribute--attr38">WiFi</li>
    <li class="tocc__propertyattribute  tocc__propertyattribute--attr30">Parking / Car</li>
    <li class="tocc__propertyattribute  tocc__propertyattribute--attr226">Umbrella / Beach</li>
    <li class="tocc__propertyattribute  tocc__propertyattribute--attr303">Hiking</li>
    <li class="tocc__propertyattribute  tocc__propertyattribute--attr71">Water</li>
    <li class="tocc__propertyattribute  tocc__propertyattribute--attr03">Fireplace</li>
    <li class="tocc__propertyattribute  tocc__propertyattribute--attr301">Kitchen</li>
    <li class="tocc__propertyattribute  tocc__propertyattribute--attr84">Hot Tub</li>
    <li class="tocc__propertyattribute  tocc__propertyattribute--attr05">Glasses / Cheers</li>
    <li class="tocc__propertyattribute  tocc__propertyattribute--attr36">Swimming Pool</li>
    <li class="tocc__propertyattribute  tocc__propertyattribute--attr225">Crown</li>
    <li class="tocc__propertyattribute  tocc__propertyattribute--attr83">Table Tennis</li>
    <li class="tocc__propertyattribute  tocc__propertyattribute--attr57">Racquet</li>
    <li class="tocc__propertyattribute  tocc__propertyattribute--attr287">Booth / Curtain</li>
</ul>

<h4 class="tocc__title">A featured group of attributes</h4>
<ul class="tocc__propertyattributes tocc__propertyattributes--featured">
    <li class="tocc__propertyattribute tocc__propertyattribute--sleeps">X Guests</li>
    <li class="tocc__propertyattribute tocc__propertyattribute--bedrooms">X Bedrooms</li>
    <li class="tocc__propertyattribute tocc__propertyattribute--maximumpets">X Pets</li>
    <li class="tocc__propertyattribute  tocc__propertyattribute--attr38">WiFi</li>
    <li class="tocc__propertyattribute  tocc__propertyattribute--attr30">Parking / Car</li>
</ul>