<a href="tel:XXXX" rel="" class="oc-reassurance">
    <p><strong>Individual reassurance item</strong>With sub text</p>
</a>


<h3 class="oc-title">Group of 4 reassurances</h3>
<div class="oc-reassurancebar oc-reassurancebar--4 oc-reassurancebar--bg">
    <a href="tel:01394389189" rel="" class="oc-reassurance">
        <p><strong>Call us on 01394 389189</strong>Speak to a friendly member of the team</p>
    </a>
    <a href="/#chat=1" rel="" class="oc-reassurance oc-reassurance--link">
        <p><strong>Live chat</strong>Chat online with a member of our friendly team in Dorset</p>
    </a>
    <a href="mailto:info@suffolkcottageholidays.com" rel="" class="oc-reassurance oc-reassurance--link">
        <p><strong>Send us an email</strong>Send your holiday cottage queries to <strong>info@suffolkcottageholidays.com</strong></p>
    </a>
    <a href="/secure-payments" rel="" class="oc-reassurance oc-reassurance--link">
        <p><strong>Secure online payments</strong>All payments on our website are secured by <strong>SagePay<sup>TM</sup></strong></p>
    </a>
</div>