<div class="oc-texttile oc-texttile--title">
    <header>
        <p>
            Why book with<br />Original Cottages?
        </p>
    </header>
</div>

<hr >

<div class="oc-texttile">
    <header>
        <img src="https://placeimg.com/40/40/arch">
        <p>
            Where do you want to go?
        </p>
    </header>
    <p>
        Whether you're longing for a romantic escape, looking
        for a memory-filled family adventure or an
        unforgettable getaway with a group of old friends, we
        have a property to suit, in a location you'll. With
        over 5,500 places to stay, including Norfolk, Cornwall,
        Yorkshire, Wales, Suffolk, Devon, Kent, Sussex,
        Lancashire, Dorset, Northumberland, Cumbria and the
        Lake District, the Peak District and Derbyshire, you'll
        find something as unique as you are.
    </p>
</div>