Please note this component is fixed to the bottom of the viewport and only visible at mobile sizes.

<div class="oc-thumbmenu">
    <ul>
        <li>
            <a href="#">
                <div class="oc-thumbmenu__link">
                    <span class="oc-thumbmenu__icon fa fa-user"></span>Account
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="oc-thumbmenu__link">
                    <span class="oc-thumbmenu__icon fa fa-calendar-week"></span>Bookings
                </div>
            </a>
        </li>
        <li>
                <a href="#">
                    <div class="oc-thumbmenu__link">
                        <span class="oc-thumbmenu__icon fa fa-gifts"></span>Extras
                    </div>
                </a>
        </li>
        <li>
            <a href="#">
                <div class="oc-thumbmenu__link">
                    <span class="oc-thumbmenu__icon fa fa-question-circle"></span>Help
                </div>
            </a>
        </li>
        </ul>
</div>
