
@import url("https://fonts.googleapis.com/css?family=Oswald|Open+Sans|Open+Sans+Condensed:300|Montserrat:600|Roboto+Slab|Lato:400,700,400italic&display=swap");
/**
 * TOCC Style Guide Element
 * 
 * @filename _slogan.scss
 * @brand    Vanilla
 * @name     slogan
 * @author   Alex Wyett
 * @date     2019-04-24
 */
@import url("https://fonts.googleapis.com/css?family=Oswald|Open+Sans|Open+Sans+Condensed:300|Montserrat:600|Roboto+Slab|Lato:400,700,400italic&display=swap");
.tocc__slogan {
  font-size: 18px;
  line-height: 28px;
  margin: 0;
  padding: 0.5rem 0;
  border: 0 none;
  color: #4C565C;
  font-family: 'Open Sans', sans-serif;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
