$brand-color-one: #888569; // Thatch
$brand-color-two: #F04F38; // Starfish
$brand-color-three: #BBB89D; // Sand
$brand-color-four: #231F20; // Twinkle
$brand-color-five: #C0C481; // Apple
$brand-color-six: #FFD65C; // Buttermilk 
$brand-color-seven: #80AEAF; // Ocean
$brand-badge-shadow-color:  #669596;
$brand-badge-logo-color: $brand-color-seven;


$header-font-family: Helvetica Neue, Helvetica , Arial , sans-serif;