
$brand-color-one: #159A8D; // PC Mountain Meadow
$brand-color-two: #008ECF; // PC Lochmara
$brand-color-three: #F0CA46; // PC Festival
$brand-color-four: #005171; //PC Eden
$brand-color-five: #D6D9DB; // PC Iron 
$brand-color-six: #D7E1D7; // PC Aqua Squeeze
$brand-color-seven: #FFF0DB; // PC PAPAYA WHIP

$body-font-family: 'Open Sans', sans-serif;
$header-font-family: 'Open Sans Condensed', 'Open Sans', sans-serif;