$brand-color-one: #1E345D; // Catalina Blue
$brand-color-two: #FF637D; // Pink
$brand-color-three: #6AA2B8; // Shakespeare
$brand-color-four: #DBA900; // Mustard
$brand-color-five: #91ABA0; // Granny Smith
$brand-color-six: #663366; // Seance
$brand-color-seven: #82750F; // Costa Del Sol

$header-font-family: 'Roboto Slab', sans-serif;