@import url('https://fonts.googleapis.com/css?family=Oswald');

$brand-color-one: #54284E; // GL LOULOU
$brand-color-six: #006068; // GL ATTOLL
$brand-color-three: #A87EB1; // GL EAST SIDE
$brand-color-four: #64B1BC; // GL Fountain Blue
$brand-color-five: #3E3935; // GL Kilamanjaro
$brand-color-two: #F5C400; // GL SWEET CORN
$brand-color-seven: #8D846A; // Buttermilk #3E3935
$brand-color-eight: #DBD9D6; // GL GALLERY
$reassurance-bar-icon-odd: $brand-color-one;
$brand-badge-shadow-color:  #F2F2F2;
$brand-badge-logo-color: #FFF;
$site-header-background: $brand-color-one;

$oswald: 'Oswald', sans-serif;