$brand-color-primary: #274d76;
$brand-color-secondary: #6a9bd2;
$brand-badge-shadow-color: #243D64;
$brand-color-one: $brand-color-primary;
$brand-color-two: $brand-color-secondary;
$brand-color-three: #F4DB57;
$brand-color-four: #3E484D;
$brand-color-five: #B8B4A3;
$brand-color-six: #80AEAF;
$brand-color-seven: #92CEE8;

$header-font-family: Montserrat, sans-serif;