@import 'vanilla';

@font-face {
    font-family: 'jenna_sueregular';
    src: url('#{$tocc-site-fonts-dir}/jennasue/jennasue-webfont.woff2') format('woff2'),
         url('#{$tocc-site-fonts-dir}/jennasue/jennasue-webfont.woff') format('woff'),
         url('#{$tocc-site-fonts-dir}/jennasue/jennasue-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TeX Gyre Adventor';
    src: url('#{$tocc-site-fonts-dir}/texgyreadventor/texgyreadventor-regular-webfont.woff') format('woff'),
         url('#{$tocc-site-fonts-dir}/texgyreadventor/texgyreadventor-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TeX Gyre Adventor Bold';
    src: url('#{$tocc-site-fonts-dir}/texgyreadventor/texgyreadventor-bold-webfont.woff') format('woff'),
         url('#{$tocc-site-fonts-dir}/texgyreadventor/texgyreadventor-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

$site-color-one: #44697C; // Tax Break
$site-color-two: #739600; // Olive
$site-color-three: #D10074; // Medium Violet Red
$site-color-four: #0088CE; // Pacific Blue
$site-color-five: #E05206; // Persimmon
$site-color-six: #009B3A; // Pigment Green
$site-color-seven: #240078; // Persian Indigo                        

$site-content-header-font-family: 'Century Gothic', 'TeX Gyre Adventor', 'Futura', 'Tw Cen MT', sans-serif;

$site-slogan-font-family: 'jenna_sueregular', "Segoe Script", "BradleyHandITCTT-Bold", sans-serif;
$site-slogan-font-color: $site-color-two;
$site-slogan-font-size: 36px;
$site-slogan-line-height: 28px;