@import url('https://fonts.googleapis.com/css?family=Oswald');

$brand-color-primary:  #4C565C; // BB Gorse
$brand-color-primary-hover: #4C565C; // BB Gorse
$brand-color-secondary: #01A6AA; // BB Bondi Blue
$brand-color-secondary-hover: #01A6AA; // BB Bondi Blue
$brand-color-one: $brand-color-primary;
$brand-color-two: $brand-color-secondary;
$brand-color-three: #E50171;  // BB Razzamatazz
$brand-color-four: #FFD200;  // BB Fiord
$brand-color-five: #F49600;  // BB Orange Peel
$brand-color-six: #8AC2EB;    // BB Sail
$brand-color-seven: #ADAFB2;  //BB Mischka
$brand-color-seven: #FFEC9D; // BB Drover
$brand-badge-logo-color: $brand-color-four;
$brand-badge-shadow-color: #F2C700;

$header-font-family: 'Oswald', sans-serif;
$body-font-family: 'Open Sans', sans-serif;