
//Colors
$brand-color-primary:  #626366; // CO Tuna
$brand-color-primary-hover: #5D5E61;
$brand-color-secondary: #97ACB5; // CO Botticelli
$brand-color-secondary-hover: #8FA3AC;
$brand-badge-shadow-color: #A6AD1F;
$brand-color-one: $brand-color-primary;
$brand-color-two: $brand-color-secondary;
$brand-color-three: #B5BD24;  // CO Logo Green
$brand-color-four: #17BED2;  // CO Iris Blue
$brand-color-five: #EE3C4D;  // CO Amaranth
$brand-color-six: #F2692A;    // CO Burnt Orange
$brand-color-seven: #FECE09;  //CO DAndelion
$brand-color-seven: #003D51; // CO Sherpa Blue
$brand-badge-logo-color: $brand-color-three;

//Font
$header-font-family: 'Montserrat', sans-serif;