$site-color-one: #555555 !default;
$site-color-two: #666666 !default;
$site-color-three: #777777 !default;
$site-color-four: #888888 !default;
$site-color-five: #999999 !default;
$site-color-six: #AAAAAA !default;
$site-color-seven: #BBBBBB !default;

$tocc-site-fonts-dir: '/fonts' !default;
$tocc-google-fonts: 'Open+Sans' !default;

@import url('https://fonts.googleapis.com/css?family=#{$tocc-google-fonts}&display=swap');
