@import url('https://fonts.googleapis.com/css?family=Oswald|Open+Sans|Open+Sans+Condensed:300|Montserrat:600|Roboto+Slab|Lato:400,700,400italic&display=swap');

$site-color-one: #555555 !default;
$site-color-two: #666666 !default;
$site-color-three: #777777 !default;
$site-color-four: #888888 !default;
$site-color-five: #999999 !default;
$site-color-six: #AAAAAA !default;
$site-color-seven: #BBBBBB !default;
