
/**
 * TOCC Style Guide Element
 * 
 * @filename _slogan.scss
 * @brand    Vanilla
 * @name     slogan
 * @author   Alex Wyett
 * @date     2019-04-24
 */
.tocc__slogan {
  font-size: 18px;
  line-height: 28px;
  margin: 0;
  padding: 0.5rem 0;
  border: 0 none;
  color: #999;
  font-family: sans-serif;
}

/**
 * TOCC Style Guide Element
 * 
 * @filename _content.scss
 * @brand    So Southwold
 * @name     content
 * @author   Alex Wyett
 * @date     2019-04-25
 */
/**
 * TOCC Style Guide Element
 * 
 * @filename _content.scss
 * @brand    Vanilla
 * @name     content
 * @author   Alex Wyett
 * @date     2019-04-25
 */
.tocc__content h1,
.tocc__content h2,
.tocc__content h3,
.tocc__content h4,
.tocc__content h5 {
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  padding: 0.5rem 0;
}

.tocc__content h1 {
  font-size: 38px;
  line-height: 48px;
}

.tocc__content h2 {
  font-size: 30px;
  line-height: 40px;
}

.tocc__content h3 {
  font-size: 24px;
  line-height: 34px;
}

.tocc__content h4 {
  font-size: 20px;
  line-height: 28px;
}

.tocc__content h5 {
  font-size: 18px;
  line-height: 22px;
}

.tocc__content p {
  font-size: 14px;
  line-height: 1.8;
}

/**
 * TOCC Style Guide Element
 * 
 * @filename _strapline_special_offer.scss
 * @brand    So Southwold
 * @name     strapline_special_offer
 * @author   Mr George Crisan
 * @date     2019-05-07
 */
/**
 * TOCC Style Guide Element
 * 
 * @filename _strapline_special_offer.scss
 * @brand    Vanilla
 * @name     strapline_special_offer
 * @author   Mr George Crisan
 * @date     2019-05-07
 */
.tabsapiproperty__specialoffers__item {
  border: 1px solid black;
  padding: 5px 5px 5px 15px;
  width: 100%;
  font-size: 14px;
}

.tabsapiproperty__specialoffers__item span {
  color: red;
  padding-right: 10px;
  font-size: 14px;
  font-weight: bold;
}
