/**
 * TOCC Style Guide Element
 *
 * @filename _formelement.scss
 * @brand    Cornish Horizons
 * @name     formelement
 * @author   Tabs System User
 */
/**
 * TOCC Style Guide Element
 *
 * @filename _formelement.scss
 * @brand    Vanilla
 * @name     formelement
 * @author   Tabs System User
 */
.oc-formelement label {
  font-size: 14px;
  line-height: 20px;
  color: #5B6064;
  font-family: sharpsansbook, sans-serif;
  color: #174C5C;
  display: block;
  margin: 0;
  font-weight: bold;
  line-height: 1.8;
}

.oc-formelement label > em {
  font-family: Georgia;
  font-style: italic;
}

.oc-formelement select {
  width: 100%;
}
